In [13]:
print ("Hello world")

#print statement automatically appends a new line, so explicitly no need to give a new line character in python.
# If you are using ubuntu to program the python programs, then we need to use $python3 file_name.py to compile the file and see the output.

Hello world

In [3]:
x = 100
print(x)

100

In [4]:
y = 10
print(x+y)

110

In [16]:
# type of a variable

x = 20
print(type(x))

y = 2.3
print(type(y))

z = "Hello"
print(type(z))

w = 'hello'
print(type(w))

q = 1E10
print(type(q))

p = 'a'
print(type(p))

# In python, everything is considered as an object, so only we are seeing class for every type. 
# Eg: x is a class of integer 
# ...

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>

In [5]:
print("Hallo leute ")

print("Hallo Leute, ", end = "  ")
print("Wie gehts dir?")

print("Mir", "Gehts", "es", "gut", sep = "-")

# In python, by default the print statement will go to next line, to avoud it, we can use end = " " to keep the control to stay in the same line.

Hallo leute
Hallo Leute,   Wie gehts dir?
Mir-Gehts-es-gut

In [10]:
m = int(input("Ore number mattum enter pannu, please: "))
n = int(input("Seri, innoru number enter pannu, avlodha: "))

print()
print("OK pa, unakaaga naa rendium add panre: ")

print(f"Addition {m} + {n}  = ",m+n)
print("Ok sure, sir like that only I have added")

Ore number mattum enter pannu, please:  345
Seri, innoru number enter pannu, avlodha:  456

OK pa, unakaaga naa rendium add panre:
Addition 345 + 456  =  801
Ok sure, sir like that only I have added

In [11]:
name = input("Un peru sollu pa: ")
print(f"Un peru:{name} ")

age = input("vayasu: ")
print(f"Vayasu: {age}")

print("Sorry, eppo purandha: ")
date = input()
print(f"Date = {date}")

Un peru sollu pa:  arun

Un peru:arun

vayasu:  23

Vayasu: 23
Sorry, eppo purandha:

 july

Date = july

In [7]:
x = 10
y = 20
z = 30
print(x,y,z)

10 20 30

In [9]:
print("Hello " + "World ")

Hello World

In [21]:
name = "Arun Kumar"
print("Hello " + name)

Hello Arun Kumar

### Follow the same logic that we have used in C programming to print patterns.

In [22]:

n = int(input("Enter a number: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("* ", end = " ")
    print()

Enter a number:  10

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *

In [15]:
n = int(input("Enter the value of n: "))
for i in range(1,n+1):
    for j in range(i,n+1):
        print("* ", end = " ")
    print()

Enter the value of n:  5

*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [18]:
n = int(input("Enter the value of n: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("* ", end = " ")
    for j in range(i,n):
        print("  ", end = " ")
    for j in range(i,n):
        print("  ", end = " ")
    for j in range(1,i+1):
        print("* ", end = " ")
    print()

Enter the value of n:  5

*                          *
*  *                    *  *
*  *  *              *  *  *
*  *  *  *        *  *  *  *
*  *  *  *  *  *  *  *  *  *

In [26]:
print("Hello ", "World", sep = "\n")

print("Hello ", "World", sep = "--")

print("Hello ", "World", sep = "++")

print("Hello ", "World", sep = "\\\\\\\\")

Hello
World
Hello --World
Hello ++World
Hello \\\\World

In [1]:
name = "Arun Kumar"
age = 22

print(f"My name is {name} and I am {age} years old")

My name is Arun Kumar and I am 22 years old

In [1]:
x = 10
y = 20

z = x + y

print("{} + {} = {}".format(x,y,x+y))
print()
print("%d + %d = %d"%(x,y,x+y))

10 + 20 = 30

10 + 20 = 30

In [3]:
m = int(input("Enter a number 1 : "))
n = int(input("Enter a number 2 : "))

print(f"Numbers before swapping: {m} , {n}")

m,n = n,m

print(f"Numbers after swapping: {m}, {n}")

Enter a number 1 :  12
Enter a number 2 :  23

Numbers before swapping: 12 , 23
Numbers after swapping: 23, 12

In [8]:
# Get the address of the variable

x = 10
print(f"Address of {x} is {id(x)}")

# id(), this function will give the address of the variable mentioned in that function.

Address of 10 is 140732343088200

# Data Structures
## Mutable (can change)
### 1. List
### 2. Dictionary

## Immutable (Cannot change)
### 1. String
### 2. Tuple

In [9]:
print("hi")

hi

In [10]:
# In python we can do multiple variable initialization.
x,y,z = 1,2,3

print(x,y,z)

1 2 3

In [12]:
# When we have more values on the right side and less variables on the left side to hold, it will throw an error

a,b = 1,2,3

ValueError: too many values to unpack (expected 2)

In [15]:
# To avoid the above scenario, we have to use underscore ("_").
# This underscore will act as a placeholder

a,b,_ = 1,2,3
print(a,b,_)

1 2 3

In [16]:
# To see the list of keywords

import keyword
print("List of keywords are : ",keyword.kwlist)

List of keywords are :  ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [17]:
a=b=c=100
print(a,b,c)

100 100 100

## Datatypes

In [20]:
## Integers

x = 10
print(type(x))

# In python, there is no concept of double. Irrespective of precession, it is considered as a float.
y = 10.5
print(type(y))

z = complex(3,5)
print(z)
print(type(z))

# Here we don't say signed and unsigned

<class 'int'>
<class 'float'>
(3+5j)
<class 'complex'>

In [22]:
## Strings

# Here we donot have the concept of char. Everything is considered as a string.

a = 'Arun'
b = "Arun"
c = '''Arun'''

# All the above are considered as strings

print(type(a), type(b), type(c), sep = "\n")

<class 'str'>
<class 'str'>
<class 'str'>

In [26]:
## Lists

# List is a collection of data and this should be enclosed in square brackets. []
# This list can hold data of different datatypes unlike array in C.

l1 = [1,2,3,4]
print(l1)

l2 = [1,2,"Hello", 12.44,2+3j]
print(l2)

# If we use id(<list_variable>) will give the base address of the list.
print(id(l2))

print(l1[0])

[1, 2, 3, 4]
[1, 2, 'Hello', 12.44, (2+3j)]
2503673656768
1

In [28]:
## Tuple

# This tuple is almost all same like list, but it is not changeble once we make a tuple.
# This should be represented in round brackets()

t1 = (1,2,3,4)
t1

(1, 2, 3, 4)

In [30]:
t1[0] = 6 # not changeble
t1

TypeError: 'tuple' object does not support item assignment

In [32]:
t1[2] # we can access the tuple, but cannot change it.

3

In [33]:
t2 = (1,2.5, "Arun", 2+7j)
t2

(1, 2.5, 'Arun', (2+7j))

In [40]:
## Dictionaries

# Here we represent the data in key and value format in flower brackets. {}

d1 = {1:"one", 2:"Two", 3:"Three"}
print(d1)
print(d1[1])
print(d1[3])

{1: 'one', 2: 'Two', 3: 'Three'}
one
Three

In [44]:
# If there are duplicates in the dictionary then, only the latest values are considered

d2 = {1: "one", 2: "two", 1:"three"}
d2
# The dictionary keys haves to be unique, they do not allow duplicates.
# We can have same values for different keys, but cannot have same keys for different values

{1: 'three', 2: 'two'}

## Operators

In [45]:
# Arithmetic operators +,-,/,*,//,**

n = int(input("Enter a number: "))
m = int(input("Enter a number: "))

print(f"Addition: {n} + {m} = {n+m}")
print(f"Subtraction: {n} - {m} = {n-m}")
print(f"Multiplication: {n} * {m} = {n*m}")
print(f"Division: {n} / {m} = {n/m}")
print(f"Power: {n} ** {m} = {n**m}")
print(f"Floor division: {n} // {m} = {n//m}")

Enter a number:  5
Enter a number:  3

Addition: 5 + 3 = 8
Subtraction: 5 - 3 = 2
Multiplication: 5 * 3 = 15
Division: 5 / 3 = 1.6666666666666667
Power: 5 ** 3 = 125
Floor division: 5 // 3 = 1

In [46]:
s1 = "Arun "
s2 = "Kumar."

s3 = s1+s2
print(s3)

Arun Kumar.

In [48]:
l1 = [2,3,4,5]
l2 = [3,5,4,8,9]

print(l1+l2)
# This will not add the two lists, it just appends the lists

[2, 3, 4, 5, 3, 5, 4, 8, 9]

In [49]:
t1 = (1,2,3,4,5)
t2 = ("Hello","Hyd","People")

print(t1+t2)

(1, 2, 3, 4, 5, 'Hello', 'Hyd', 'People')

In [51]:
p = 5j
q = 2.3

p+q

(2.3+5j)

In [ ]:
## We cannot subtract two lists, tuples, strings

In [53]:
l1*2
# This list multiplication will append the same list in the list with mentioned number of times.

[2, 3, 4, 5, 2, 3, 4, 5]

In [54]:
t1*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [55]:
# The result of 22/7 in python 2 is same as 22//7 in python3

In [56]:
# Relational Operators: >,<,>=,<=,!=,==

print(2>5)
print(2<5)
print(2>=5)
print(2<=5)
print(2!=5)
print(2==5)

False
True
False
True
True
False

In [61]:
# Logical Operators: and, or

print(12> 5 and 12< 5)
print(12>5 or 12<5) # same like c programming, it is not checking the other condition, compile time optimization.

# non zero value will be considered as true and zero is considered as false.

print(not 12)
print(not 0)
print(not -12)

False
True
False
True
False

In [69]:
# Bitwise operators: &,|,^,

print(12&3) # 0000s
print(12|3) # 1111
print(12^3) # 1111
print(~12)               
print(~-13)

print(12>>1) # right shift will divide the number
print(12<<1) # left shift will multiply the number
'''
    ~x = -(x+1)
    eg: ~12 = -(12+1) = -13
'''

0
15
15
-13
12
6
24

'\n    ~x = -(x+1)\n    eg: ~12 = -(12+1) = -13\n'

In [3]:
# Equality Operator: +=, -=, *=, /=


x = 10
x+=5
print(f"x = {x}")

p = 20
p-=10
print(f"p = {p}")

z = 30
z*=3
print(f"z = {z}")

q = 15
q/=5
print(f"q = {q}")

x = 15
p = 10
z = 90
q = 3.0

In [11]:
## Identity operators : is and is not

10 is 10

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\bala_arun_kumar\AppData\Local\Temp\ipykernel_10956\2811400926.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  10 is 10

True

In [5]:
"Arun" is "Arun"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\bala_arun_kumar\AppData\Local\Temp\ipykernel_10956\2425154922.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "Arun" is "Arun"

True

In [8]:
"Arun" is "kumar"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\bala_arun_kumar\AppData\Local\Temp\ipykernel_10956\3084269383.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "Arun" is "kumar"

False

In [10]:
"Arun" is not "Kumar"

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\bala_arun_kumar\AppData\Local\Temp\ipykernel_10956\2388115820.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  "Arun" is not "Kumar"

True

In [12]:
# sizeof() operator does not exist as we are dealing with objects not with variables
# We also not have increment and decrement operators
# Does not have conditional operators

# Here x++ is not possible, but we can do x+=1

In [14]:
# Membership operator: in, not in 

l = [1,2,3,4,5]
20 in l

False

In [15]:
20 not in l

True