In [37]:
print ("Hello world")

#print statement automatically appends a new line, so explicitly no need to give a new line character in python.
# If you are using ubuntu to program the python programs, then we need to use $python3 file_name.py to compile the file and see the output.

Hello world

In [38]:
x = 100
print(x)

100

In [39]:
y = 10
print(x+y)

110

In [40]:
# type of a variable

x = 20
print(type(x))

y = 2.3
print(type(y))

z = "Hello"
print(type(z))

w = 'hello'
print(type(w))

q = 1E10
print(type(q))

p = 'a'
print(type(p))

# In python, everything is considered as an object, so only we are seeing class for every type. 
# Eg: x is a class of integer 
# ...

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>

In [41]:
print("Hallo leute ")

print("Hallo Leute, ", end = "  ")
print("Wie gehts dir?")

print("Mir", "Gehts", "es", "gut", sep = "-")

# In python, by default the print statement will go to next line, to avoud it, we can use end = " " to keep the control to stay in the same line.

Hallo leute
Hallo Leute,   Wie gehts dir?
Mir-Gehts-es-gut

In [42]:
m = int(input("Ore number mattum enter pannu, please: "))
n = int(input("Seri, innoru number enter pannu, avlodha: "))

print()
print("OK pa, unakaaga naa rendium add panre: ")

print(f"Addition {m} + {n}  = ",m+n)
print("Ok sure, sir like that only I have added")

Ore number mattum enter pannu, please:  5
Seri, innoru number enter pannu, avlodha:  6

OK pa, unakaaga naa rendium add panre:
Addition 5 + 6  =  11
Ok sure, sir like that only I have added

#### name = input("Un peru sollu pa: ")
print(f"Un peru:{name} ")

age = input("vayasu: ")
print(f"Vayasu: {age}")

print("Sorry, eppo purandha: ")
date = input()
print(f"Date = {date}")

In [44]:
x = 10
y = 20
z = 30
print(x,y,z)

10 20 30

In [45]:
print("Hello " + "World ")

Hello World

In [46]:
name = "Arun Kumar"
print("Hello " + name)

Hello Arun Kumar

### Follow the same logic that we have used in C programming to print patterns.

In [47]:

n = int(input("Enter a number: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("* ", end = " ")
    print()

Enter a number:  5

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [48]:
n = int(input("Enter the value of n: "))
for i in range(1,n+1):
    for j in range(i,n+1):
        print("* ", end = " ")
    print()

Enter the value of n:  7

*  *  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [49]:
n = int(input("Enter the value of n: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("* ", end = " ")
    for j in range(i,n):
        print("  ", end = " ")
    for j in range(i,n):
        print("  ", end = " ")
    for j in range(1,i+1):
        print("* ", end = " ")
    print()

Enter the value of n:  5

*                          *
*  *                    *  *
*  *  *              *  *  *
*  *  *  *        *  *  *  *
*  *  *  *  *  *  *  *  *  *

In [50]:
print("Hello ", "World", sep = "\n")

print("Hello ", "World", sep = "--")

print("Hello ", "World", sep = "++")

print("Hello ", "World", sep = "\\\\\\\\")

Hello
World
Hello --World
Hello ++World
Hello \\\\World

In [51]:
name = "Arun Kumar"
age = 22

print(f"My name is {name} and I am {age} years old")

My name is Arun Kumar and I am 22 years old

In [52]:
x = 10
y = 20

z = x + y

print("{} + {} = {}".format(x,y,x+y))
print()
print("%d + %d = %d"%(x,y,x+y))

10 + 20 = 30

10 + 20 = 30

In [53]:
m = int(input("Enter a number 1 : "))
n = int(input("Enter a number 2 : "))

print(f"Numbers before swapping: {m} , {n}")

m,n = n,m

print(f"Numbers after swapping: {m}, {n}")

Enter a number 1 :  5
Enter a number 2 :  6

Numbers before swapping: 5 , 6
Numbers after swapping: 6, 5

In [54]:
# Get the address of the variable

x = 10
print(f"Address of {x} is {id(x)}")

# id(), this function will give the address of the variable mentioned in that function.

Address of 10 is 140732691084360

# Data Structures
## Mutable (can change)
### 1. List
### 2. Dictionary

## Immutable (Cannot change)
### 1. String
### 2. Tuple

In [55]:
print("hi")

hi

In [56]:
# In python we can do multiple variable initialization.
x,y,z = 1,2,3

print(x,y,z)

1 2 3

In [57]:
# When we have more values on the right side and less variables on the left side to hold, it will throw an error

a,b = 1,2,3

ValueError: too many values to unpack (expected 2)

In [58]:
# To avoid the above scenario, we have to use underscore ("_").
# This underscore will act as a placeholder

a,b,_ = 1,2,3
print(a,b,_)

1 2 3

In [59]:
# To see the list of keywords

import keyword
print("List of keywords are : ",keyword.kwlist)

List of keywords are :  ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [60]:
a=b=c=100
print(a,b,c)

100 100 100

## Datatypes

## Integers

In [61]:


x = 10
print(type(x))

# In python, there is no concept of double. Irrespective of precession, it is considered as a float.
y = 10.5
print(type(y))

z = complex(3,5)
print(z)
print(type(z))

# Here we don't say signed and unsigned

<class 'int'>
<class 'float'>
(3+5j)
<class 'complex'>

## Strings

In [121]:


# Here we donot have the concept of char. Everything is considered as a string.

a = 'Arun'
b = "Arun"
c = '''Arun'''

# All the above are considered as strings

print(type(a), type(b), type(c), sep = "\n")

<class 'str'>
<class 'str'>
<class 'str'>

## Lists

In [122]:


# List is a collection of data and this should be enclosed in square brackets. []
# This list can hold data of different datatypes unlike array in C.

l1 = [1,2,3,4]
print(l1)

l2 = [1,2,"Hello", 12.44,2+3j]
print(l2)

# If we use id(<list_variable>) will give the base address of the list.
print(id(l2))

print(l1[0])

[1, 2, 3, 4]
[1, 2, 'Hello', 12.44, (2+3j)]
2026184318528
1

In [126]:
l1 = [1,2,3,4,5,6,7,8,9]
print(l1[1:])

[2, 3, 4, 5, 6, 7, 8, 9]

In [127]:
l1[0] = 0 # changeble
l1

[0, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
print(l1[-1])

9

In [66]:
print(l1[4:15])

[5, 6, 7, 8, 9]

In [67]:
print(l1[-2:]) # it is printing from -2 till the end.

[8, 9]

In [68]:
print(l1[-5:-1]) # The control always move from left to right so we are getting 5,6,7,8 for this input.
'''
If we try giving -1:-5 then this is not possible, it seems like we are telling the control to move from right (from -1)to left (to -5), 
this is not allowed.

'''

[5, 6, 7, 8]

'\nIf we try giving -1:-5 then this is not possible, it seems like we are telling the control to move from right (from -1)to left (to -5), \nthis is not allowed.\n\n'

In [109]:
p1 = [1,2,3,4,5]
p2 = ["Arun",9.3,"Kumar", 23]
p3 = [p1,p2]
p3

[[1, 2, 3, 4, 5], ['Arun', 9.3, 'Kumar', 23]]

In [70]:
p3[0]

[1, 2, 3, 4, 5]

In [71]:
p3[0][4]

5

In [72]:
p3[1][2]

'Kumar'

In [106]:
# Every time when we use these functions, we need to provide the data not the index. 
# Only for the insert, we do give the index to tell the control to insert that data 
# in that particular location only.

p1.append(15)
p1

[1, 2, 3, 4, 5, 15, 15]

In [74]:
p2

['Arun', 9.3, 'Kumar', 23]

In [75]:
p2.insert(2,"Hello")
p2

['Arun', 9.3, 'Hello', 'Kumar', 23]

In [104]:
p2.insert(0,"Arun")
p2

['Arun', 9.3, 'Hello', 'Kumar', 23]

In [105]:
# If you want to remove anything using data, use remove function
p2.remove("Arun")
p2

[9.3, 'Hello', 'Kumar', 23]

In [110]:
# To remove something using the index, then use pop function.

p2.pop(2)
p2

# when you don't mention the index in pop function, it will remove the last element.
p2.pop()

23

In [111]:
h1 = [1,2,3,"Hello","People","Arun",6.43]
h1

[1, 2, 3, 'Hello', 'People', 'Arun', 6.43]

In [112]:
# to delete the elements, we have to specify the range
del h1[4:6] # in python, we always don't consider the upper bound.
h1

[1, 2, 3, 'Hello', 6.43]

In [113]:
'''
If you want to add a single element, we use append and it adds that element at the end
if you use insert, we can insert at a particular location only, but we can add only one element
if we want to add multiple elements, then use extend function as shown below.
'''

h1.extend(["Hyd","Banglore",234,324.345])

In [114]:
h1

[1, 2, 3, 'Hello', 6.43, 'Hyd', 'Banglore', 234, 324.345]

In [119]:
# few mathematic shortcuts
d1 = [9,3,4,2,4,6,7,75,4]
print(max(d1))
print(min(d1))
print(sum(d1))
d1.sort()
d1

75
2
114

[2, 3, 4, 4, 4, 6, 7, 9, 75]

## Tuple

In [76]:
# This tuple is almost all same like list, but it is not changeble once we make a tuple.
# This should be represented in round brackets()
# We cannot change the values in the tuple.

# we have to use this tuple, when we have a list and we don't want to change the elements in that
# list, then we can go for the tuple, as the rest of the features are same as list.

# Iterations in the tuple are faster compared to list as it does not allow us to modify.
t1 = (1,2,3,4)
t1

(1, 2, 3, 4)

In [77]:
t1[0] = 6 # not changeble
t1

TypeError: 'tuple' object does not support item assignment

In [78]:
t1[2] # we can access the tuple, but cannot change it.

3

In [124]:
t2 = (1,2.5, "Arun", 2+7j)
t2

(1, 2.5, 'Arun', (2+7j))

In [130]:
tup = (1,2,3,"Arun",4.435,4435)
tup

(1, 2, 3, 'Arun', 4.435, 4435)

In [136]:
tup.index("Arun") # Just gives the index

3

In [135]:
tup.count(3) # it will give the count of the element present in that tuple.

1

## Set

In [137]:
# Set is a collection of unique elements. It does not allow duplicates.
# It is represented using flower brackets {}
# Set never follows a sequence.
# Indexing is not allowed as it doesn't follows a sequence.
# we can add and remove the elements in the set.

s = {1,2,2,3,4,5,6,4,5,5,7,8,7}
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [10]:
s[2] # We cannot access elements in set as they do not have indexing.

NameError: name 's' is not defined

In [139]:
# Program to perform different set operations 
# as we do in mathematics 

# sets are define 
A = {0, 2, 4, 6, 8}; 
B = {1, 2, 3, 4, 5}; 

# union 
print("Union :", A | B) 

# intersection 
print("Intersection :", A & B) 

# difference 
print("Difference :", A - B) 

# symmetric difference : It excludes the common elements and print rest of the elements.
# A ^ B = (A u B) - (A n B)
print("Symmetric difference :", A ^ B)

Union : {0, 1, 2, 3, 4, 5, 6, 8}
Intersection : {2, 4}
Difference : {0, 8, 6}
Symmetric difference : {0, 1, 3, 5, 6, 8}

In [31]:
# set of letters
s = {'g', 'e', 'k', 's'}

# adding 's'
s.add('f')
print('Set after adding:', s)

# Discarding element from the set
# The discard method is lenient and quietly ignores the operation if the element does not exist.
s.discard('g')
print('\nSet after discarding:', s)

# Removing element from the set
# The remove method is strict and expects the element to exist in the set; otherwise, it raises an error.
s.remove('e')
print('\nSet after removing:', s)

# Popping elements from the set
# pop method removes the random element in the set.
print('\nPopped element', s.pop())
print('Set after popping the element:', s)

s.clear()
print('\nSet after clearing:', s)

Set after adding: {'f', 's', 'k', 'e', 'g'}

Set after discarding: {'f', 's', 'k', 'e'}

Set after removing: {'f', 's', 'k'}

Popped element f
Set after popping the element: {'s', 'k'}

Set after clearing: set()

In [29]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical) # this menthod just concatenate the two sets.

print(thisset)

{'mango', 'apple', 'pineapple', 'cherry', 'banana', 'papaya'}

In [30]:
# The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'kiwi', 'orange', 'banana', 'cherry'}

In [1]:
set1 = {1,2,3,4,"arun","kumar",5.54,4535.556}
set2 = {3,5,6,6,"Hello","People",34.34}

set3 = set1.union(set2)
set3

{1, 2, 3, 34.34, 4, 4535.556, 5, 5.54, 6, 'Hello', 'People', 'arun', 'kumar'}

In [9]:
set1 = {1,2,3,4,"arun","kumar",5.54,4535.556}
set2 = {3,5,6,6,"Hello","People",34.34}

set1.union(set2) # if we use this, then the updated set will not be assigned to set1, it just prints the result.

{1, 2, 3, 34.34, 4, 4535.556, 5, 5.54, 6, 'Hello', 'People', 'arun', 'kumar'}

In [34]:
set1 = {1,2,3,5,6,4,"arun","kumar",5.54,4535.556}
set2 = {3,5,6,6,"Hello","People",34.34}

set3 = set1.intersection(set2)
set3

{3, 5, 6}

In [35]:
set1 = {1,2,3,5,6,4,"arun","kumar",5.54,4535.556}
set2 = {3,5,6,6,"Hello","People",34.34}

set3 = set1.difference(set2)
set3

{1, 2, 4, 4535.556, 5.54, 'arun', 'kumar'}

In [36]:
# The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the 
# original set instead of returning a new set.

set1 = {1,2,3,5,6,4,"arun","kumar",5.54,4535.556}
set2 = {3,5,6,6,"Hello","People",34.34}

set1.difference_update(set2)
set3

{1, 2, 4, 4535.556, 5.54, 'arun', 'kumar'}

## Dictionaries

In [80]:
# Here we represent the data in key and value format in flower brackets. {}

d1 = {1:"one", 2:"Two", 3:"Three"}
print(d1)
print(d1[1])
print(d1[3])

{1: 'one', 2: 'Two', 3: 'Three'}
one
Three

In [1]:
# If there are duplicates in the dictionary then, only the latest values are considered

d2 = {1: "one", 2: "two", 1:"three"}
d2
# The dictionary keys haves to be unique, they do not allow duplicates.
# We can have same values for different keys, but cannot have same keys for different values

{1: 'three', 2: 'two'}

In [5]:
dict1 = {1:"one",2:"two",3:"three","name":"arun",}

In [6]:
dict1[1]

'one'

In [8]:
dict1.get(1)

'one'

In [9]:
# When we specify a key, if there is a value then it will print a value for that key
# if there is no value for a key, then we can customize what to get as an output.

dict1.get(4,"No data found")

'No data found'

In [11]:
dict1.get(5) # if we do not specify anything, it will remain idle

In [13]:
dict1.get(3,"No data found") # as we have data, we are not getting that backup data.

'three'

In [21]:
'''
There is a possibility to create a dectionary with the help of two lists
To do that we need to zip them and then by using the dict() function we can convert it into a
dictionary as shown below

'''

keys = [1,2,3,4,5,6,7]
values = ["Sun","Mon","Tue","Wed","Thurs","Fri","Sat"]

# we have weekdays and the associated intergers which signifies that day number.

data = dict(zip(keys,values))

data

{1: 'Sun', 2: 'Mon', 3: 'Tue', 4: 'Wed', 5: 'Thurs', 6: 'Fri', 7: 'Sat'}

In [22]:
# we can directly add the data like this if it doesn't exist.
# But we need to be careful about the key values. They should not be same.

data["01"] = "Jan"
data

{1: 'Sun',
 2: 'Mon',
 3: 'Tue',
 4: 'Wed',
 5: 'Thurs',
 6: 'Fri',
 7: 'Sat',
 '01': 'Jan'}

In [23]:
# to delete, just mention the key.

del data[1]
data

{2: 'Mon', 3: 'Tue', 4: 'Wed', 5: 'Thurs', 6: 'Fri', 7: 'Sat', '01': 'Jan'}

In [25]:
'''
We can have a list in a dictionary and a dictionary in a dictionary. It is absolutely fine.
'''
# this dictionary just tells, which ide can be used for which languae.
prog = {'JS':'Atom','CS':'VScode','Python':['Pycharm','sublime'],'Java':{'JSE':'Netbeans','JEE':'Eclipse'}}
prog

{'JS': 'Atom',
 'CS': 'VScode',
 'Python': ['Pycharm', 'sublime'],
 'Java': {'JSE': 'Netbeans', 'JEE': 'Eclipse'}}

In [34]:
# These are the ways where we can access this dictionary.

prog["JS"]

'Atom'

In [29]:
prog['CS']

'VScode'

In [30]:
prog['Python']

['Pycharm', 'sublime']

In [31]:
prog['Python'][1]

'sublime'

In [32]:
prog['Java']

{'JSE': 'Netbeans', 'JEE': 'Eclipse'}

In [33]:
prog['Java']['JEE']

'Eclipse'

# Operators

## Arithmetic operators +,-,/,*,//,**

In [82]:
n = int(input("Enter a number: "))
m = int(input("Enter a number: "))

print(f"Addition: {n} + {m} = {n+m}")
print(f"Subtraction: {n} - {m} = {n-m}")
print(f"Multiplication: {n} * {m} = {n*m}")
print(f"Division: {n} / {m} = {n/m}")
print(f"Power: {n} ** {m} = {n**m}")
print(f"Floor division: {n} // {m} = {n//m}")

Enter a number:  4
Enter a number:  5

Addition: 4 + 5 = 9
Subtraction: 4 - 5 = -1
Multiplication: 4 * 5 = 20
Division: 4 / 5 = 0.8
Power: 4 ** 5 = 1024
Floor division: 4 // 5 = 0

In [83]:
s1 = "Arun "
s2 = "Kumar."

s3 = s1+s2
print(s3)

Arun Kumar.

In [84]:
l1 = [2,3,4,5]
l2 = [3,5,4,8,9]

print(l1+l2)
# This will not add the two lists, it just appends the lists

[2, 3, 4, 5, 3, 5, 4, 8, 9]

In [85]:
t1 = (1,2,3,4,5)
t2 = ("Hello","Hyd","People")

print(t1+t2)

(1, 2, 3, 4, 5, 'Hello', 'Hyd', 'People')

In [86]:
p = 5j
q = 2.3

p+q

(2.3+5j)

In [87]:
## We cannot subtract two lists, tuples, strings

In [88]:
l1*2
# This list multiplication will append the same list in the list with mentioned number of times.

[2, 3, 4, 5, 2, 3, 4, 5]

In [89]:
t1*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [90]:
# The result of 22/7 in python 2 is same as 22//7 in python3

## Relational Operators: >,<,>=,<=,!=,==

In [91]:


print(2>5)
print(2<5)
print(2>=5)
print(2<=5)
print(2!=5)
print(2==5)

False
True
False
True
True
False

## Logical Operators: and, or

In [92]:


print(12> 5 and 12< 5)
print(12>5 or 12<5) # same like c programming, it is not checking the other condition, compile time optimization.

# non zero value will be considered as true and zero is considered as false.

print(not 12)
print(not 0)
print(not -12)

False
True
False
True
False

## Bitwise operators: &,|,^,

In [93]:


# 12  = 1100
# 3   = 0011

print(12&3) # 0000
print(12|3) # 1111
print(12^3) # 1111
print(~12)               
print(~-13)

print(12>>1) # right shift will divide the number
print(12<<1) # left shift will multiply the number
'''
    ~x = -(x+1)
    eg: ~12 = -(12+1) = -13
'''

0
15
15
-13
12
6
24

'\n    ~x = -(x+1)\n    eg: ~12 = -(12+1) = -13\n'

## Equality Operator: +=, -=, *=, /=

In [94]:
x = 10
x+=5
print(f"x = {x}")

p = 20
p-=10
print(f"p = {p}")

z = 30
z*=3
print(f"z = {z}")

q = 15
q/=5
print(f"q = {q}")

x = 15
p = 10
z = 90
q = 3.0

## Identity operators : is and is not

In [95]:
10 is 10

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\bala_arun_kumar\AppData\Local\Temp\ipykernel_13308\2811400926.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  10 is 10

True

In [96]:
"Arun" is "Arun"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\bala_arun_kumar\AppData\Local\Temp\ipykernel_13308\2425154922.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "Arun" is "Arun"

True

In [97]:
"Arun" is "kumar"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\bala_arun_kumar\AppData\Local\Temp\ipykernel_13308\3084269383.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "Arun" is "kumar"

False

In [98]:
"Arun" is not "Kumar"

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\bala_arun_kumar\AppData\Local\Temp\ipykernel_13308\2388115820.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  "Arun" is not "Kumar"

True

In [99]:
# sizeof() operator does not exist as we are dealing with objects not with variables
# We also not have increment and decrement operators
# Does not have conditional operators

# Here x++ is not possible, but we can do x+=1

## Membership operator: in, not in

In [100]:
l = [1,2,3,4,5]
20 in l

False

In [101]:
20 not in l

True

In [20]:
'''
Important point on variables.

If we have two variables and both are having same value, then two blocks of memory will not be created. Both values will be pointing to the same memory
location and if we find the address of these two variables, we get the same address. This is why python language is memory efficient.

So, all the variables which are pointing to a particular value will have same address.
'''

a = 10
b = a
print(f"Address of a is {id(a)}")
print(f"Address of b is {id(b)}")
print(f"Address of value 10 is {id(10)}")

k = 10
print(f"Address of k in {id(k)}")

'''
Suddenly, if all the variables are pointing to different memory locations, then there will be no one to point to the value 10 (in this case), so
this will remain as a garbage as none of the variables are using this memory. This is called trash / garbage collection.
'''

Address of a is 140733222450248
Address of b is 140733222450248
Address of value 10 is 140733222450248
Address of k in 140733222450248

'\nSuddenly, if all the variables are pointing to different memory locations, then there will be no one to point to the value 10 (in this case), so\nthis will remain as a garbage as none of the variables are using this memory. This is called trash / garbage collection.\n'

In [2]:
range(10)

range(0, 10)

In [4]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
list(range(2,50,4)) # here third field in the range function is step

[2, 6, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46]

## Numbers System

In [11]:
## Intergers

num = 10
type(num)

int

In [12]:
## Binary

num = 20
bin(num)

'0b10100'

In [13]:
0b0101

5

In [14]:
## Octal

num  = 35
oct(num)

'0o43'

In [15]:
0o43

35

In [16]:
## Hexadecimal

num = 22
hex(num)

'0x16'

In [18]:
0xf

15

## Mathematical functions

In [20]:

x = srqt(25)
x

NameError: name 'srqt' is not defined

In [21]:
import math
x = math.sqrt(25)
x

5.0

In [25]:
p = 2.543
math.ceil(p)

3

In [26]:
math.floor(p)

2

In [28]:
math.pow(p,2)

6.466849000000001

In [29]:
math.pi

3.141592653589793

In [31]:
math.e # epsilon

2.718281828459045

In [33]:
# we can import specific things from the library, if we don't need all

from math import sqrt, pow
n = 16

print(sqrt(16)) # as we have imported the direct functions itself, we don't need to use math while using them.
print(pow(16,2))

4.0
256.0

## user input

In [34]:
n = int(input("Enter a number for n  "))
m = int(input("Enter a number for m  "))

p = n+m

print(f"Sum of nums is {p}")

Enter a number for n   4
Enter a number for m   3

Sum of nums is 7

In [38]:
ch = input("Enter something: ") # though we are expecting character, if you give a string, it will accept.
# To avoid that follow the process present in next cell.
print(ch)

Enter something:  r4wrff

r4wrff

In [40]:
ch = input("Enter a character: ")[0]
# Here, we are restricting the ch to take only one character from the input, that too only the first character.
print(ch)

Enter a character:  fref

f

In [41]:
ch = input("Enter a string: ")[3]
print(ch)

Enter a string:  arun

n

In [43]:
'''
When we try to give an expression as an input and ask it to evaluate it, then the input thing
may not know like what we are giving.

the expression which we are gonna give will consists of numbers and operators which are nothing
but characters. 

So to evaluate this we can use "eval" function.
'''

res = eval(input("Enter an expression to compute: "))

print(res)

Enter an expression to compute:  2+3+4-1-2

6

In [46]:
# we can take inputs from command line too, using argv 

import sys
x = int(sys.argv[1])
y = int(sys.argv[2])

z = x+y
print(z)

# This is possible if you run through cmd line only
# as we are running through jupyter notebook and we do run directly, we cannot do this here.

ValueError: invalid literal for int() with base 10: '-f'

## if elif else

In [5]:
n = int(input("Enter a number: "))
if(n%2 == 0):
    print("Even number")
else:
    print("odd number")

Enter a number:  4

Even number

In [11]:
## Prime number.

n = int(input("Enter a number: "))
flag = 0
for i in range(2,n):
    if(n%i == 0):
        flag = 1
        break
if(flag):
    print("Not a prime number")
else:
    print("prime number")

Enter a number:  15

Not a prime number

In [12]:
## List of prime numbers

n = int(input("Enter a number"))

for i in range(2,n+1):
    flag = 0
    for j in range(2,i):
        if(i%j == 0):
            flag = 1
            break
    if(flag):
        print(f"{i} is not a prime number")
    else:
        print(f"{i} is a prime number")

Enter a number 10

2 is a prime number
3 is a prime number
4 is not a prime number
5 is a prime number
6 is not a prime number
7 is a prime number
8 is not a prime number
9 is not a prime number
10 is not a prime number

## while

In [3]:
n = 1

while(n <= 10):
    print(f"{n}.Hello")
    n+=1

1.Hello
2.Hello
3.Hello
4.Hello
5.Hello
6.Hello
7.Hello
8.Hello
9.Hello
10.Hello

In [9]:
i = 1
j = 1

while(i<=5):
    print("Arun",end = " ")
    j = 0
    while(j<4):
        j+=1
        print("Rocks",end = " ")
    print()   
    i+=1

Arun Rocks Rocks Rocks Rocks
Arun Rocks Rocks Rocks Rocks
Arun Rocks Rocks Rocks Rocks
Arun Rocks Rocks Rocks Rocks
Arun Rocks Rocks Rocks Rocks

## for loop

In [12]:
l1 = [1,2,3,"Arun","Kumar",345.34]

for i in l1:
    print (i)

1
2
3
Arun
Kumar
345.34

In [13]:
p = "Arun Kumar"

for i in p:
    print(i)

A
r
u
n

K
u
m
a
r

In [14]:
for i in range(1,50,3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49

In [17]:
for i in range(20,10,-1): # 10 is not included
    print(i)

20
19
18
17
16
15
14
13
12
11

## break, continue, and pass

In [27]:
## break

n = int(input("Enter a number: "))

m = int(input("Enter a number till which you want the multiplication table: "))
i = 1
while(1):
    if(m!=i):
        print(f"{n}*{i} = {n*i}")
        i+=1
    else:
        break

Enter a number:  2
Enter a number till which you want the multiplication table:  11

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20

In [30]:
## Continue

## printing the numbers in the given range which are not divisible by 2.

n = int(input("Enter a number: "))

for i in range(n+1):
    if(i%2 == 0):
        continue # it will just skip the iteration and does nothing for that iteration.
    else:
        print(i)

Enter a number:  20

1
3
5
7
9
11
13
15
17
19

In [31]:
## pass

## This can be used when you have to check the condition and dont want to do anything and keep
## it empty.

for i in range(1,101):
    if(i%2 == 0):
        pass
    else:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

## For else

In [34]:
nums = [12,11,18,21,26]

for i in range(len(nums)):
    if nums[i]%5 == 0:
        print("Found")
else:
    print("not found")

not found

## Arrays

In [40]:
# Arrays in python does not have specific size.

from array import array as a
vals = a('i',[1,2,3,9,8,7,6])

print(vals)

array('i', [1, 2, 3, 9, 8, 7, 6])

In [41]:
vals.reverse()
vals

array('i', [6, 7, 8, 9, 3, 2, 1])

In [47]:
vals.buffer_info()
# this method gives the size of the array and the base address

(1793474982576, 7)

In [48]:
vals[0]

6

In [50]:
for i in range(len(vals)):
    print(vals[i])

6
7
8
9
3
2
1

In [51]:
from array import *

arrc = array('u',['a','e','i','o','u'])

for i in range(len(arrc)):
    print(arrc[i])

a
e
i
o
u

In [2]:
from array import *

vals = array('i',[1,2,4,2,6])

newarr = array(vals.typecode,(a*a for a in vals))
# Instead of  mentioning the typecode specifically, we can take the typecode from the other array using typecode.

for i in newarr:
    print(i)

1
4
16
4
36

In [6]:
from array import *
a=array('i',[]) # since we are expecting integer values from user, we have used 'i' while declaring

n = int(input("Enter the number of values: "))

for i in range(n):
    p = int(input())
    a.append(p)
print(a)

Enter the number of values:  5
 2
 3
 4
 5
 1

array('i', [2, 3, 4, 5, 1])

In [12]:
# element search in array

from array import *
a = array('i',[])

n = int(input("Enter the no.of elements: "))

print("enter elements: ")
for i in range(n):
    p = int(input())
    a.append(p)

print("Enter the element to find: ")
ele = int(input())
count =0
for i in a:
    if ele in a:
        print("Present")
        print(i)
        break
    else:
        count+=1
        
if(count == n):
    print("Not present")

Enter the no.of elements:  6

enter elements:

 1
 2
 3
 4
 5
 6

Enter the element to find:

 7

Not present

In [13]:
# What is Numpy?

'''
With the usual pyton libraries, we cannot implement multi-dimensional arrays.
To implement them we need to include numpy libraries.


'''

from array import *

a = array('i',[1,2,3],[4,5,6])

print(a)

TypeError: array() takes at most 2 arguments (3 given)

In [22]:
# if you don't have numpy libraries, use pip install numpy to install the libraries.
# When we are using numpy libraries to create arrays, we don't need to mention the typecode.
from numpy import *
a = array([[1,2,3],[4,5,6]])
print(a)

[[1 2 3]
 [4 5 6]]

In [32]:
# There are 6 ways to create an array using numpy libraries.

'''
1. array()
2. linspace()
3. logspace()
4. arange()
5. zeros()
6. ones()

'''

from numpy import *

arr = array([1,2,3,4,5],int) # here the datatype is optional.
print(arr)
print(arr.dtype)
print()

# According to the array definition, we need to have all the elements of same datatype
# If there is any different datatype like float, then all the values will be converted to float.
# and we get the datatype also as float.
# as we are not mentioning the datatype explicity, the implicit conversion will be done by the interpreter.
from numpy import *

arr = array([1,2,3,4,5.0])

print(arr)
print(arr.dtype)

[1 2 3 4 5]
int64

[1. 2. 3. 4. 5.]
float64

In [42]:
# linspace(), using this we can create an array.
# linspace(,,) - Here 1st field is START
#              - 2nd field is STOP
#              - 3rd field is no.of parts we need to divide the given range.

# Here start and stop values are inclusive.
# If we don't specify 3rd field, then by default the range will be divided into 50 parts.
from numpy import *

arr = linspace(0,15,20)
print(arr)

[ 0.          0.78947368  1.57894737  2.36842105  3.15789474  3.94736842
  4.73684211  5.52631579  6.31578947  7.10526316  7.89473684  8.68421053
  9.47368421 10.26315789 11.05263158 11.84210526 12.63157895 13.42105263
 14.21052632 15.        ]

In [41]:
# 50 parts.

arr1 = linspace(1,16)
arr1

array([ 1.        ,  1.30612245,  1.6122449 ,  1.91836735,  2.2244898 ,
        2.53061224,  2.83673469,  3.14285714,  3.44897959,  3.75510204,
        4.06122449,  4.36734694,  4.67346939,  4.97959184,  5.28571429,
        5.59183673,  5.89795918,  6.20408163,  6.51020408,  6.81632653,
        7.12244898,  7.42857143,  7.73469388,  8.04081633,  8.34693878,
        8.65306122,  8.95918367,  9.26530612,  9.57142857,  9.87755102,
       10.18367347, 10.48979592, 10.79591837, 11.10204082, 11.40816327,
       11.71428571, 12.02040816, 12.32653061, 12.63265306, 12.93877551,
       13.24489796, 13.55102041, 13.85714286, 14.16326531, 14.46938776,
       14.7755102 , 15.08163265, 15.3877551 , 15.69387755, 16.        ])

In [45]:
## arange() - using this we can acreate an array
## arange(,,) - 1st and 2nd fields are start and stop values resp.
#             - 3rd field is the STEP value.

from numpy import *

a = arange(1,20,2)
a

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19])

In [50]:
## logspace()
## logspace(,,) - 1st and 2nd are start and stop values resp.
# the range will ve 10**start and 10**stop
# 3rd field is Number of samples to generate.
# the default value of 3rd field will be 50.

# eg: 10**2 and 10**3 are the start and stop values and this range will ve divided into 6 parts

from numpy import *

arr = logspace(2,3,6)
arr

array([ 100.        ,  158.48931925,  251.18864315,  398.10717055,
        630.95734448, 1000.        ])

In [53]:
## ones() - it creates an array of ones

from numpy import *

arr = ones(5,int)
arr

array([1, 1, 1, 1, 1])

In [54]:
## zeros() - it creates an array of zeros

from numpy import *

arr = zeros(10,int)
arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [1]:
import numpy as np

arr = np.zeros(10,int)
arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [2]:
## operations on arrays

import numpy as np
arr1 = np.array([1,2,3,4,5])
arr2 = np.array([9,8,7,6,5])

arr3 = arr1+arr2
print(arr3)

[10 10 10 10 10]

In [3]:
arr1+5

array([ 6,  7,  8,  9, 10])

In [5]:
import numpy as np

arr1 = np.array([10,20,30,60,90,180])
p = np.sin(arr1)

print(p)

[-0.54402111  0.91294525 -0.98803162 -0.30481062  0.89399666 -0.80115264]

In [12]:
import numpy as np

arr1 = np.array([4,2,5,6,2,4,6,9])

print(f"sum = {sum(arr1)}")
print(f"max = {max(arr1)}")
print(f"min = {min(arr1)}")
print(f"sqrt = {np.sqrt(arr1)}")
print(f"sort = {np.sort(arr1)}")

sum = 38
max = 9
min = 2
sqrt = [2.         1.41421356 2.23606798 2.44948974 1.41421356 2.
 2.44948974 3.        ]
sort = [2 2 4 4 5 6 6 9]

In [25]:
'''
Here we are copying two arrays, just using the equality operator, this means that we are just doing
the aliasing of the old array.
So only we are getting the same address.
Now the modifications can be done by using arr1 and arr2.
'''

import numpy as np
arr1 = np.array([1,2,3,4])
arr2 = arr1

print(np.concatenate([arr1,arr2]))

print("Address = ",id(arr1))
print("Address = ",id(arr2))

[1 2 3 4 1 2 3 4]
Address =  2585929822832
Address =  2585929822832

In [34]:
'''
Here we are copying the array using a special function called view()
This will copy the array but with a different memory location.
'''

import numpy as np
arr1 = np.array([1,2,3,4])
arr2 = arr1.view()
print(arr1)
print(arr2)
print("Address = ",id(arr1))
print("Address = ",id(arr2))

[1 2 3 4]
[1 2 3 4]
Address =  2585808236784
Address =  2585929823504

In [1]:
# There are three kinds of copy
# Shallow copy

'''
1. Assigning one array to other array.
2. Using view function - (a.k.a. Shallow copy)
Shallow copy copies the elements of an array in two different memory locations, but changes made in one array will reflect in other array too.
3. Using copy function - (a.k.a. Deep copy)
Deep copy copies the elements of an array in two different memory locations, but chnages will NOT be reflected in the other array.
'''

import numpy as np
arr1 = np.array([1,2,3,4])

arr2 = arr1.view()
arr1[2] = 5
print(arr1)
print(arr2)
print("Address = ",id(arr1))
print("Address = ",id(arr2))

[1 2 5 4]
[1 2 5 4]
Address =  2868396356304
Address =  2868396357456

In [37]:
# Deep copy

import numpy as np
arr1 = np.array([1,2,3,4])
arr2 = arr1.copy()
arr1[2] = 5
print(arr1)
print(arr2)
print("Address = ",id(arr1))
print("Address = ",id(arr2))

[1 2 5 4]
[1 2 3 4]
Address =  2585929823216
Address =  2585929823504

In [48]:
# multi-dimentional arrays
import numpy as np

arr1 = np.array([
    [1,2,3,4],
    [5,6,7,8],
    [10,20,30,40]
])

print(arr1)
print()
print(arr1.dtype)   # Gives the data type of the data 
print()
print(arr1.ndim)    # Gives the dimension of the data
print()
print(arr1.shape)   # Gives the order of the matrix. Here 2*4
print()
print(arr1.flatten()) # Will convert the multi-dimensional data to a single dimension data.
print()
print(arr1.reshape(6,2)) # Will convert the data into a required ordered matrix.
print()
print(arr1.reshape(2,2,3)) # Will get two 2D arrays and each array will be ther order of (2,3)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [10 20 30 40]]

int64

2

(3, 4)

[ 1  2  3  4  5  6  7  8 10 20 30 40]

[[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [10 20]
 [30 40]]

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8 10]
  [20 30 40]]]

In [54]:
import numpy as np

m = np.matrix('1 2 3; 4 5 6 ; 7 8 9')
print(f"Matrix: {m}")
print(f"Diagonal matrix: {np.diagonal(m)}")
print(f"Minimum value: {m.min()}")

Matrix: [[1 2 3]
 [4 5 6]
 [7 8 9]]
Diagonal matrix: [1 5 9]
Minimum value: 1

## Functions

In [55]:
# Functions are used to reduce the number of lines of code.
# A certain task can be written as a function and whenever there is a need of that function, then we can call that function.

def greet():
    print("Hello all")
    print("Welcome to the party")

greet()

Hello all
Welcome to the party

In [57]:
def add(x,y):
    c = x+y
    return c

x = int(input("Enter a number: "))
y = int(input("Enter a number: "))

res = add(x,y)
print("Addition: ",res)

Enter a number:  5
Enter a number:  4

Addition:  9

In [60]:
'''
Can return multiple values.
'''
def add_sub(x,y):
    c = x+y
    d = x-y
    return c,d

x = int(input("Enter a number: "))
y = int(input("Enter a number: "))

res1,res2 = add_sub(x,y)
print(f"Addition: {res1}     Subtraction: {res2}")

Enter a number:  6
Enter a number:  5

Addition: 11     Subtraction: 1

In [3]:
# In python we doesn't have pass by value or pass by reference.
'''
For immutable objects (like integers, strings, tuples), changes made inside the function result in a new object being created, 
and the original object remains unchanged.

'''
def update(x):
    print(f"ID of x before change: {id(x)}")
    x=8
    print(f"ID of x after change: {id(x)}")
    print("x = ",x)

a = 10
print(f"ID of a is : {id(a)}")
update(a)

print("a = ",a)

ID of a is : 140732894835784
ID of x before change: 140732894835784
ID of x after change: 140732894835720
x =  8
a =  10

In [2]:
# In python we doesn't have pass by value or pass by reference.
'''
In Python, function arguments are passed by object reference. For mutable objects (like lists, dictionaries), 
the function can modify the contents of the object because both the caller and the function share the same reference.
'''
def update(lst):
    print(f"ID of lst before change: {id(lst)}")
    lst[1] = 25
    print(f"ID of lst after change: {id(lst)}")
    print("x = ",lst)

p = [10,20,30]
print(f"ID of lst is : {id(p)}")
update(p)

print("lst = ",p)

ID of lst is : 2868398345216
ID of lst before change: 2868398345216
ID of lst after change: 2868398345216
x =  [10, 25, 30]
lst =  [10, 25, 30]

In [4]:
## Variable length arguments
## When we are not sure about the number of arguments, then we need to pass * and an variable as a formal parameter. 
def sum(*b):
    c = 0
    for i in b:
        c = c+i
    print(f"Final sum = {c}")

sum(1,2,3,4,5)

Final sum = 15

In [4]:
rows = int(input("Enter num of rows: "))
cols = int(input("Enter num of cols: "))

array = []

for i in range(rows):
    row = []
    for j in range(cols):
        val = int(input("Enter a val: "))
        row.append(val)
    array.append(row)

print("Final array is")
print(array)
'''
for i in range (rows):
    for j in range (cols):
        print(array[i][j], end = " ")
    print()
'''

print(type(array))

Enter num of rows:  2
Enter num of cols:  2
Enter a val:  1
Enter a val:  2
Enter a val:  3
Enter a val:  2

Final array is
[[1, 2], [3, 2]]
<class 'list'>

In [17]:
'''
Creation of 2D array using numpy libraries without the concept of lists.
'''
import numpy as np

n=int(input("Enter rows: "))
m=int(input("Enter cols: "))
# Initialize an empty 2D array of the specified size
arr = np.empty((n,m),dtype=int)

print("Enter the elements in the proper order: ")
# Populate the array with user input
for i in range(n):
    for j in range(m):
        arr[i][j] = int(input(f"Enter ({i},{j}) element: "))

print(arr)
print(type(arr))(

Enter rows:  3
Enter cols:  3

Enter the elements in the proper order:

Enter (0,0) element:  1
Enter (0,1) element:  2
Enter (0,2) element:  3
Enter (1,0) element:  4
Enter (1,1) element:  5
Enter (1,2) element:  6
Enter (2,0) element:  7
Enter (2,1) element:  2
Enter (2,2) element:  1

[[1 2 3]
 [4 5 6]
 [7 2 1]]
<class 'numpy.ndarray'>

In [11]:
'''
Creation of 1D array using numpy libraries without the concept of lists.
'''
import numpy as np

n=int(input("Enter no.of elements: "))


arr = np.empty((n),dtype=int)

print("Enter the elements in the proper order: ")

for i in range(n):
        arr[i] = int(input(f"Enter ({i}) element: "))

print(arr)
print(type(arr))

Enter no.of elements:  2

Enter the elements in the proper order:

Enter (0) element:  2
Enter (1) element:  1

[2 1]
<class 'numpy.ndarray'>

## Global vs Local variable

In [21]:
'''
Global vs Local variable
------------------------
'''

a=10 # The scope of this a is for all funs and operations in the full code.

def something():
    a = 15   # The scope of this a is restricted to this fun alone
    # Inside the function, the preference will always be given to its local vars.
    print(f"Inside fun: {a}")

something()
print(f"Outside fun: {a}")

Inside fun: 15
Outside fun: 10

In [38]:
a=10
def something():
    # When there is no variable defined inside the function, then the control will search for the same var in global and take that value.
    print(f"inside fun: {a}")

something()

print(f"outside fun: {a}")

inside fun: 10
outside fun: 10

In [39]:
a=10
# here we are trying to make the local var as a global var.
# Whenever we do this, we will loose the access of local 'a' and it will no longer be a local var
def fun():
    global a
    a=15
    # Actually, this variable 'a' is a local var, and when we change this var, it should not effect the global var. But we are 
    # telling the compiler that this 'a' var is no longer a local var and we are making it as a global var by using the keyword global. 
    # The moment we make it global, the same var in the global will be overwritten with the mentioned val.
    print(f"Inside fun: {a}")

    # Again, we cannot make the same variable as a local variable as it already became the global.

fun()
print(f"Outside fun: {a}")

Inside fun: 15
Outside fun: 15

In [40]:
# So to avoid the discrepency caused in the above cell can be overcommed by using a function called "globals()"
# Here we are using a global variable inside a function and using it for the purposes in the function.
# here we are trying to make the global var as a local var using globals() function.
a = 10
print(f"Id of a is {id(a)}") 
def fun():
    a = 9
    x = globals()['a']
    print(f"Id of x inside fun is {id(x)}")
    print(f"x = {x}")
    print(f"In function: {a}")

fun()
print("Outside fun a = ",a)

# Here the id s of x and global 'a' are same as they are pointing to the same memory location.

Id of a is 140733165106248
Id of x inside fun is 140733165106248
x = 10
In function: 9
Outside fun a =  10

In [34]:
# Here we are using a global variable inside a function and using it for the purposes in the function.

a = 10
print(f"Id of a is {id(a)}") 
def fun():
    a = 9
    x = globals()['a']
    print(f"Id of x inside fun is {id(x)}")
    print(f"x = {x}")
    print(f"In function: {a}")
    # when you want to change the global value, dont change the value of x, instead do this.
    # If we try to chnage the value using x, then we are just changing the value of x not the global variable 'a'
    globals()['a'] = 20
fun()
print("Outside fun a = ",a)

# Here the id s of x and global 'a' are same as they are pointing to the same memory location.

Id of a is 140733165106248
Id of x inside fun is 140733165106248
x = 10
In function: 9
Outside fun a =  20

## Passing a list to a function

In [43]:
def evod(lst):
    ev=0
    od=0
    for i in lst:
        if(i%2 == 0):
            ev+=1
        else:
            od+=1
    return ev,od

n = int(input("Enter the no.of eles: "))

lst=[]

for i in range(n):
    p = int(input("Enter num: "))
    lst.append(p)

ev,od = evod(lst)

print(f"Even nums count = {ev} Odd nums count = {od}")

Enter the no.of eles:  5
Enter num:  1
Enter num:  2
Enter num:  3
Enter num:  4
Enter num:  5

Even nums count = 2 Odd nums count = 3

In [45]:
# Fibonacci sequence

a=0
b=1
n=int(input("Enter the number of fibonacci nums required: "))
print(a)
print(b)

for i in range(n):
    c=a+b
    a=b
    b=c
    print(c)

Enter the number of fibonacci nums required:  10

0
1
1
2
3
5
8
13
21
34
55
89

In [48]:
## factorial

n = int(input("Enter a num to get factorial of it: "))
p=1
for i in range(1,n+1):
    p=p*i
print(f"fact({n}) = {p}")

Enter a num to get factorial of it:  5

fact(5) = 120

## Recursion

In [71]:
import sys
print(f"Recurssion limit: {sys.getrecursionlimit()}")

# When the program goes into infinite recurssion, the python does not allow it to happen
# Instead it just loop in for 3000 (default value) times and then it stops

Recurssion limit: 3000

In [72]:
import sys
# There is a provision to change the limit of recurssion iterations.
sys.setrecursionlimit(5000)
print(f"Recurssion limit: {sys.getrecursionlimit()}")

Recurssion limit: 5000

In [65]:
n=0
def greet():
    global n
    while n<10:
        print("Hello all")
        n+=1
        greet()

greet()

Hello all
Hello all
Hello all
Hello all
Hello all
Hello all
Hello all
Hello all
Hello all
Hello all

In [73]:
# Factorial using recursion

def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
n = int(input("Enter a number: "))
fact(n)

Enter a number:  5

120

In [75]:
## Lambda function
## usually every function have a name but a function with no name are called lambda function

# The main use case of this anonymous function is, when there is a requirement of evaluation of only one expression.
# We can pass any number of arguments into this function.


f = lambda a:a*a

res = f(5)
print(f"Result = {res}")

Result = 25

In [76]:
summ = lambda a,b:a+b
res = summ(2,3)
print(f"Sum = {res}")

Sum = 5

## Filter Map Reduce

In [77]:
## Let say we have a list of numbers and we need to separate even number s from that list and pust those values in a list.
## To do this we have a separate function, where it will filter the values.

nums = [1,2,3,4,5,6,7,8,9,10]
# Filter function takes two arguments
# 1st argument is a function - we have used an anonymus function
# 2nd argument takes the iteratable
# It is just simple like on what basis we have to filter and from what we have to filter.
evens = list(filter(lambda n:n%2==0 ,nums))
print(evens)

[2, 4, 6, 8, 10]

In [78]:
odds = list(filter(lambda n:n%2!=0,nums))
odds

[1, 3, 5, 7, 9]

In [79]:
## Map

## This function also accepts two arguments - function and an iterable respectively.

## We try to double the elements in evens list

doubles = list(map(lambda p:p*2, evens))
doubles

[4, 8, 12, 16, 20]

In [81]:
## Reduce

## We can use this function to reduce the entire list and find sum or something
## To use this function, we need functools

from functools import reduce

summ = reduce(lambda a,b:a+b,doubles)
print(f"Sum of all the elements in the doubles list is {summ}")

Sum of all the elements in the doubles list is 60

## Decorators

In [88]:
## Using the decorators, we can add the extra feature with out disturbing the existing function during the compile time itself.

'''
We can divide two nums using a simple division operator. But we need a mechanism to swap the variables if the numerator is lessthan the denominator.
We can do this in the div function itself, but when we donot have access to that function then we have to call that function indirectly
after doing the modifications to the data. 

Here before doing the division operation, we are swapping the values.

'''


def smart_div(func):
    def inner(a,b):
        if(a<b):
            a,b = b,a
        return func(a,b)
    return inner

@smart_div
def div(a,b):
    print(a/b)


div(2,4)

2.0

In [105]:
# I want to multiply the given number with 4 and tell the answer iff the given number is a prime number.
# I check the number is prime or not using a decorator and based on the result I will give the answer.

# func should be returned by the inner function and inner should be returned by primeprime_check function.
# Inner function always do the checks

def prime_check(func):
    def inner(n,flag):
        flag = 0
        for i in range(2,n):
            if(n%i == 0):
                flag = 1
                break
        return func(n,flag)
    return inner

@prime_check
def mul(n,flag):
    if(flag == 1):
        return "sorry"
    else:
        return n*4


n = int(input("Enter a number: "))
p = mul(n,flag)
print("Multiplication = ",p)

Enter a number:  7

Multiplication =  28

## Keypoints
#### - The len() function returns the number of elements in a list. For an empty list ([]), it returns 0.
#### - The range() function returns a range object, not a list. To get a list, you need to explicitly convert it using list(range(5)).
#### Eg: range(5) returns range(0,5) not the list
#### - The get() method returns the value for the specified key. If the key is not found, it returns the default value provided - For eg. check below cells
#### - The function calls overrides the default value of the variable. That means the formal argument values will be overridden by the actual arguments.
#### - Only strings and tuples are immutable, list, set, and dictionaries are mutable.
#### - The strip() method removes only leading and trailing whitespace, not all whitespace characters.
#### - The pop() method removes and returns the last element of the list, does not return the entire list.
#### - The 'is' keyword checks whether the two objects refer to the same memory location, not their values.
#### - The add() method is used to add the elements to a set in python.
#### - When you use copy() function to copy the list, different memory will be created and there will be NO relation between the two lists too. But if you copy using view() function, then there will be a relation between these two lists and changes made in one list will REFLECT in the other list too.

In [1]:
x = {"a": 1, "b": 2}
print(x.get("c", 3))

3

In [2]:
def func(a, b=5, c=10):
    return a + b + c

print(func(1, c=20))

26

In [3]:
x = [1, 2, 3, 4]
print(x.pop())

4

In [4]:
a = 5
b = a

a is b

True

In [5]:
print(bool(0), bool(3), bool(-1), bool([]))

False True True False

In [6]:
x = [1, 2, 3]
y = x.copy()
y[0] = 10
print(x, y)

[1, 2, 3] [10, 2, 3]

In [13]:
'''
The strip() function in Python is a string method that removes any leading (spaces at the beginning) and trailing (spaces at the end) 
whitespace characters from a string. 
By default, it removes whitespace, but you can specify a set of characters to be removed.

'''

s = "    Hello All, How are you doing        "
print(s.strip())

Hello All, How are you doing

In [16]:
print(s.lstrip()) # lstrip() removes only on the left side.

Hello All, How are you doing

In [17]:
print(s.rstrip()) # rstrip() removes only on the right side.

    Hello All, How are you doing

In [18]:
p="!@!!@@@# Hello people %%$$@$"
print(p.strip("!@#%$"))

 Hello people

In [20]:
p = "### hello ###"
print(p.strip("#"))

 hello

In [23]:
## p = "### hello ##$#"     # It just removes the left most and right most specified characters only.
print(p.strip("#"))

 hello ##$

In [38]:
import numpy as np

r1 = int(input("Enter Mat 1 rows: "))
c1 = int(input("Enter Mat 1 cols: "))

r2 = int(input("Enter Mat 2 rows: "))
c2 = int(input("Enter Mat 2 cols: "))

mat1 = np.empty((r1,c1), dtype = int)

for i in range(r1):
    for j in range(c1):
        mat1[i][j] = int(input(f"Enter {[i]}{[j]} element: "))


mat2 = np.empty((r2,c2),dtype = int)

for i in range(r2):
    for j in range(c2):
        mat2[i][j] = int(input(f"Enter {[i]}{[j]} element: "))


#res = np.empty((r1,c2),dtype = int)

#res = [[0 for _ in range(c2)] for _ in range(r1)]
res = np.zeros((r1,c2),dtype = int)

if (c1 == r2):
    for i in range(r1):
        for j in range(c2):
            val = 0
            for k in range(r2):
                val = val + (mat1[i][k]*mat2[k][j])
            res[i][j] = val
else:
    print("matrix multiplication is not possible")
print(f"Matrix 1:\n {mat1}")
print()
print(f"Matrix 2:\n {mat2}")
print()
print(f"Resultant matrix  \n= {res}")

Enter Mat 1 rows:  2
Enter Mat 1 cols:  2
Enter Mat 2 rows:  2
Enter Mat 2 cols:  3
Enter [0][0] element:  1
Enter [0][1] element:  2
Enter [1][0] element:  3
Enter [1][1] element:  4
Enter [0][0] element:  5
Enter [0][1] element:  4
Enter [0][2] element:  3
Enter [1][0] element:  2
Enter [1][1] element:  1
Enter [1][2] element:  6

Matrix 1:
 [[1 2]
 [3 4]]

Matrix 2:
 [[5 4 3]
 [2 1 6]]

Resultant matrix
= [[ 9  6 15]
 [23 16 33]]

In [36]:
res = np.zeros((r1,c2),dtype = int)
res

array([[0, 0, 0],
       [0, 0, 0]])

In [37]:
type(res)

numpy.ndarray

In [43]:
## Modules

'''
Whenever we are working on a big project then there might be few functions where we use them almost in all the files in that project.
But we dont really want to write that function definition in all files and make use of that function.

Instead, in python we can create modules for all those functions and can use those functions defined in another file by importing them.

Eg:- we can create a separate .py file for mathematical operations and import that file as a package in the required file as how we import numpy and 
make use of array. We can import that module using import keyword and use the functions in it directly in any file or for any function.

We create add, mul, div, sub, pow functions in cal.py file and import them.

from calc import *

'''

'\nWhenever we are working on a big project then there might be few functions where we use them almost in all the files in that project.\nBut we dont really want to write that function definition in all files and make use of that function.\n\nInstead, in python we can create modules for all those functions and can use those functions defined in another file by importing them.\n\nEg:- we can create a separate .py file for mathematical operations and import that file as a package in the required file as how we import numpy and \nmake use of array. We can import that module using import keyword and use the functions in it directly in any file or for any function.\n\nWe create add, mul, div, sub, pow functions in cal.py file and import them.\n\nfrom calc import *\n\n'

In [44]:
print(__name__)

__main__

In [47]:
print("Hello " + __name__)

Hello __main__

In [2]:
# Object Oriented Programming

'''
The general process that we follow is a procedural oriented programming, here the data is not secured, all functions in the code can access the 
global data and any function can modify the data at any time without any notice. This is the main drawback of this approach.

This drawback can be overcommed in the Object oriented programming.

In python everything is considered as objects. Here in this type of programming, we mainly concentrate on objects.


Object-oriented programming (OOP) in Python is essential for managing complex projects, enhancing data security, and organizing code through 
classes and objects. This approach allows for better scalability and maintainability compared to procedural programming, which struggles with 
larger projects due to global variable management and lack of data protection.

Understanding the distinction between classes and objects is crucial in object-oriented programming. A class serves as a blueprint for creating 
multiple objects, each representing specific instances.

Using a single class allows for the generation of numerous objects, showcasing the efficiency of object-oriented programming in managing complex 
systems. This promotes code reusability and organization.

In OOP, variables are called as Attributes and functions are called as Methods.

Class is a blueprint of a house, then with the help of the blueprint(class) we can build many houses(objects or instances).
'''

'\nThe general process that we follow is a procedural oriented programming, here the data is not secured, all functions in the code can access the \nglobal data and any function can modify the data at any time without any notice. This is the main drawback of this approach.\n\nThis drawback can be overcommed in the Object oriented programming.\n\nIn python everything is considered as objects. Here in this type of programming, we mainly concentrate on objects.\n\n\nObject-oriented programming (OOP) in Python is essential for managing complex projects, enhancing data security, and organizing code through \nclasses and objects. This approach allows for better scalability and maintainability compared to procedural programming, which struggles with \nlarger projects due to global variable management and lack of data protection.\n\nUnderstanding the distinction between classes and objects is crucial in object-oriented programming. A class serves as a blueprint for creating \nmultiple objects, each representing specific instances.\n\nUsing a single class allows for the generation of numerous objects, showcasing the efficiency of object-oriented programming in managing complex \nsystems. This promotes code reusability and organization.\n\nIn OOP, variables are called as Attributes and functions are called as Methods.\n\nClass is a blueprint of a house, then with the help of the blueprint(class) we can build many houses(objects or instances).\n'

In [4]:
x=5
print(type(x))

# Here x is an object of class int

<class 'int'>

In [10]:
class Instructor:
    pass
instructor_1 = Instructor()

print(type(instructor_1))

# Here instructor_1 is an object of class Instructor
# Now we have created a user defined datatype, so we can tell class is a user defined datatype.

<class '__main__.Instructor'>

In [8]:
class car_design:
    pass

car1 = car_design()
car2 = car_design()

print(type(car1))
print(type(car2))

# car1 and car2 are objects of class car_design

<class '__main__.car_design'>
<class '__main__.car_design'>

In [12]:
class Instructor:
    pass

instructor_1 = Instructor()
instructor_1.name = "Arun"   # name and address are the attributes of the class instructor class.
instructor_1.address = "PDRL"
print(instructor_1.name)

instructor_2 = Instructor()
instructor_2.name = "Kumar"
instructor_2.address = "HYD"
print(instructor_2.name)

Arun
Kumar

In [ ]:
# Constructor

'''
The task of the constructor is to initialize the data members of the class when an object is created.
We don't need to initialize the members separately.

We have an init function which will automate the initialization of data members in the class when the object is created.
Everytime this init function will be called by the python interpreter when an object is created.
'''

In [16]:
class Instructor:
    def __init__(self):
        print("Creating a new object so I got called")

instructor_1 = Instructor()
instructor_1.name = "Arun"   # name and address are the attributes of the class Instructor.
instructor_1.address = "PDRL"
print(instructor_1.name)
print(instructor_1.address)

instructor_2 = Instructor()
instructor_2.name = "Kumar"
instructor_2.address = "HYD"
print(instructor_2.name)

Creating a new object so I got called
Arun
PDRL
Creating a new object so I got called
Kumar

In [54]:
class Instructor:
    def __init__(self,ins_name,ins_addr):
        self.name = ins_name
        self.address = ins_addr
        self.insta_followers = 0
# self is a keyword to bind the attributes to the arguments recieved.

instructor_1 = Instructor("Arun","PDRL")
print(f"Name_1 = {instructor_1.name}")
print(f"Address_1 = {instructor_1.address}")
print(f"Instagram followers = {instructor_1.insta_followers}")

print()

instructor_2 = Instructor("Kumar","HYD")
print(f"Name_2 = {instructor_2.name}")
print(f"Address_2 = {instructor_2.address}")
print(f"Instagram followers = {instructor_2.insta_followers}")

# If we don't want to pass the values as arguments to the init method through the objects, then we can assign values directly in th init methos itself.

Name_1 = Arun
Address_1 = PDRL
Instagram followers = 0

Name_2 = Kumar
Address_2 = HYD
Instagram followers = 0

In [55]:
# Attributes are the things that the objects has, where as methods are the things that the objects does.
# In our case, instructor_1 and instructor_2 are the objects and they have name, address and followers count.
# Methods are the things that what does these objects do.

In [59]:
class Instructor:
    insta_followers = 0
    def __init__(self,ins_name,ins_addr):
        self.name = ins_name
        self.address = ins_addr
        #self.insta_followers = 0
# Instead of writing the insta_followers =0 inside the __init__ method, we can initialize the same above the __init__ method and it is called CLASS OBJECT VARIABLE
# and this class object variable is applicable to all the objects.
# self is a keyword to bind the attributes to the arguments recieved.

instructor_1 = Instructor("Arun","PDRL")
print(f"Name_1 = {instructor_1.name}")
print(f"Address_1 = {instructor_1.address}")
print(f"Instagram followers = {instructor_1.insta_followers}")

print()


instructor_2 = Instructor("Kumar","HYD")
print(f"Name_2 = {instructor_2.name}")
print(f"Address_2 = {instructor_2.address}")
print(f"Instagram followers = {instructor_2.insta_followers}")

Name_1 = Arun
Address_1 = PDRL
Instagram followers = 0

Name_2 = Kumar
Address_2 = HYD
Instagram followers = 0

In [60]:
class Instructor:
    
    def __init__(self,ins_name,ins_addr):
        self.name = ins_name
        self.address = ins_addr
        self.insta_followers = 0
        # self is a keyword to bind the attributes to the arguments recieved.

    # Methods
    
    def display(self,subject_name):
        print(f"Hello all meet {instructor_1.name} he will teach you {subject_name}")

    def update_followers(self,follower_name):
        self.insta_followers+=1
    

instructor_1 = Instructor("Arun","PDRL")
print(f"Name_1 = {instructor_1.name}")
print(f"Address_1 = {instructor_1.address}")


# We usually call a function using its name, since it is a method and only the instructor_1 wants to use this method, we are calling it this way.
instructor_1.display("Programming")
instructor_1.update_followers("Kumar")
# kumar is following Arun(instructor_1)

print(f"Instagram followers = {instructor_1.insta_followers}")
print()

instructor_2 = Instructor("Kumar","HYD")
print(f"Name_2 = {instructor_2.name}")
print(f"Address_2 = {instructor_2.address}")
instructor_2.update_followers("Arun")
# Arun is following kumar

print(f"Instagram followers = {instructor_2.insta_followers}")

# A normal function will become a method, when it is attached with an object

Name_1 = Arun
Address_1 = PDRL
Hello all meet Arun he will teach you Programming
Instagram followers = 1

Name_2 = Kumar
Address_2 = HYD
Instagram followers = 1

In [61]:
# Find area and circumference of a circle usinf OOP concept

r = float(input("Enter radius: "))

class Calculation:
    pi = 3.14
    def __init__(self):
        pass

    def area_of_circle(self,r):
        area = self.pi*r*r
        print(f"Area of circle: {area}")

    def circum_of_circle(self,r):
        circum = 2*self.pi*r
        print(f"Circumference of a circle: {circum}")
        


area = Calculation()
circum = Calculation()

area.area_of_circle(r)
circum.circum_of_circle(r)

Enter radius:  2

Area of circle: 12.56
Circumference of a circle: 12.56

In [62]:
# Find area and circumference of a circle usinf OOP concept

rad = float(input("Enter radius: "))

class Calculation:
    pi = 3.14
    def __init__(self,rad):
        self.r = rad

    def area_of_circle(self):
        area = self.pi*self.r*self.r
        print(f"Area of circle: {area}")

    def circum_of_circle(self):
        circum = 2*self.pi*self.r
        print(f"Circumference of a circle: {circum}")
        


area = Calculation(rad)
circum = Calculation(rad)

area.area_of_circle()
circum.circum_of_circle()

Enter radius:  3

Area of circle: 28.259999999999998
Circumference of a circle: 18.84

In [63]:
# Find the area of rectangle

l = int(input("Enter length: "))
b = int(input("Enter breadth: "))

class Calculation:

    def __init__(self,l,b):
        self.length = l
        self.breadth = b

    # methods
    def area_of_rect(self):
        a = self.length* self.breadth
        print(f"Area of rectangle = {a}")

    def perri_of_rect(self):
        p = 2*(self.length + self.breadth)
        print(f"Perrimeter of rectangle = {p}")
        

# Object creation.
area = Calculation(l,b)
perri = Calculation(l,b)

# Calling methods in Calculation class using objects.
area.area_of_rect()
perri.perri_of_rect()

Enter length:  2
Enter breadth:  6

Area of rectangle = 12
Perrimeter of rectangle = 16

In [64]:
print("Hello")

Hello

In [65]:
print("World")

World

In [4]:
import numpy as np

arr = np.zeros((2,3),dtype = int)
arr

array([[0, 0, 0],
       [0, 0, 0]])

In [8]:
r = int(input("Enter rows: "))
c = int(input("Enter cols: "))

arr = [[0 for _ in range(c)] for _ in range(r)]
print(arr)

print(type(arr))

Enter rows:  3
Enter cols:  4

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
<class 'list'>

In [14]:
# Finding second largest in an array.

from array import *

n = int(input("Enter no of elements: "))

arr = array('i',[])

for i in range(n):
    p = int(input())
    arr.append(p)

for i in range(n):
    for j in range(n-1-i):
        if(arr[j] > arr[j+1]):
            temp = arr[j]
            arr[j] = arr[j+1]
            arr[j+1] = temp
print(arr)
print(f"Second larget number is {arr[n-2]}")

Enter no of elements:  5
 5
 4
 3
 2
 1

array('i', [1, 2, 3, 4, 5])
Second larget number is 4

## Inheritance

In [ ]:
## Why this Inheritance

'''
To increase the reusability of code.

'''

## What is this inheritance

'''

It is a fundamental concept in Object Oriented Programming (OOP) that allows a class (called as chile or derived class) to inherit attributes
and methods from another class (called as parent or base class). This promotes code reuse, modularity, and a hierarchical class structure
'''

In [3]:
'''
Here, when we closly observe the following two classes, both are using the same methods. This indirectly means that
the Male class want to use all the methods of class Human. So we can inherit the methods and attributes of one class
in other class.

This inheritance will reduce the no.of lines in the code and provides feasibility to the programmer.

To inherit the methods and attributes of one class in other class, we just need to pass the name of the mail class to the desired
class.
'''

class Human:
    def __init__(self):
        pass
    def eat(self):
        print("I can eat")
    def work(self):
        print("I can work")

class Male:
    def eat(self):
        print("I can eat")
    def work(self):
        print("I can work")

male_1 = Male()
male_1.eat()

I can eat

In [8]:
# parent class

class Human:
    def __init__(self):
        pass
    def eat(self):
        print("I can eat")
    def work(self):
        print("I can work")

# child class


# The child class or the derived class can also have their own behaviour (own methods, attributes)
class Male(Human):
    def dance(self):
        print("I can dance well")
    
    # We can access the methods that are defined in the parent class and modify them according to our need. This is called METHOD OVERRIDING.
    
    def work(self):
        print("I can code and debug")
    
male_1 = Male()
male_1.dance()
male_1.eat()
male_1.work()

I can dance well
I can eat
I can code and debug

In [29]:
# parent class

class Human:
    def __init__(self):
        self.num_eyes = 2
        self.num_nose = 1
    def eat(self):
        print("I can eat")
    def work(self):
        print("I can work")

# child class


# The child class or the derived class can also have their own behaviour (own methods, attributes)
class Male(Human):
    
    def __init__(self,name):
        self.name = name
        super().__init__()     # same as methods, we need to use super() function to access the attributes present in the parent class.
    
    def dance(self):
        print("I can dance well")
    
    # We can access the methods that are defined in the parent class and modify them according to our need. This is called METHOD OVERRIDING.
    # If we want to use the existing functionality of the method which is present in the parent class and also we want to add some extra functionalities in that method of child class. then use super() function.
    def work(self):
        super().work()
        print("I can code and debug")
    
male_1 = Male("Arun")

# The way of accessing methods
male_1.dance()
male_1.eat()
male_1.work()


# The way of accessing attributes
print(male_1.num_eyes)                # We can access the attributes of parent class from child class.
print("Name = ",male_1.name)


'''

When there is no __init__ function defined in the child class, then we can access the attributes of parent class directly using the object and attribute.
But if the __init__ function is defined in the child class, then we have to use super() function in the __init__ method of child class to access the parent class attributes.
'''

I can dance well
I can eat
I can work
I can code and debug
2
Name =  Arun

'\n\nWhen there is no __init__ function defined in the child class, then we can access the attributes of parent class directly using the object and attribute.\nBut if the __init__ function is defined in the child class, then we have to use super() function in the __init__ method of child class to access the parent class attributes.\n'

In [31]:
# parent class

class Human:
    def __init__(self,num_heart):
        self.num_eyes = 2
        self.num_nose = 1
        self.num_heart = num_heart
    def eat(self):
        print("I can eat")
    def work(self):
        print("I can work")

# child class


# The child class or the derived class can also have their own behaviour (own methods, attributes)
class Male(Human):
    
    def __init__(self,name,heart):
        self.name = name
        super().__init__(heart)     # same as methods, we need to use super() function to access the attributes present in the parent class.
    
    def dance(self):
        print("I can dance well")
    
    # We can access the methods that are defined in the parent class and modify them according to our need. This is called METHOD OVERRIDING.
    # If we want to use the existing functionality of the method which is present in the parent class and also we want to add some extra functionalities in that method of child class. then use super() function.
    def work(self):
        super().work()
        print("I can code and debug")

    def display(self):
        print(f"My name is {self.name} and I have {self.num_heart} heart, {self.num_eyes} eyes and {self.num_nose} nose")
    
male_1 = Male("Arun",1)

# The way of accessing methods
male_1.dance()
male_1.eat()
male_1.work()


# The way of accessing attributes
print(male_1.num_eyes)                # We can access the attributes of parent class from child class.
print("Name = ",male_1.name)

male_1.display()
'''

When there is no __init__ function defined in the child class, then we can access the attributes of parent class directly using the object and attribute.
But if the __init__ function is defined in the child class, then we have to use super() function in the __init__ method of child class to access the parent class attributes.
'''

I can dance well
I can eat
I can work
I can code and debug
2
Name =  Arun
My name is Arun and I have 1 heart, 2 eyes and 1 nose

'\n\nWhen there is no __init__ function defined in the child class, then we can access the attributes of parent class directly using the object and attribute.\nBut if the __init__ function is defined in the child class, then we have to use super() function in the __init__ method of child class to access the parent class attributes.\n'

## Multiple inheritance

In [ ]:
# Here we have only one child class and multiple parent classes.
# So the child class can access all the attributes and methods from both the parent classes.

In [34]:
# parent classes

class Father:
    def read(self):
        print("I can read well")

    def work(self):
        print("I can code well")
        
class Mother:
    def write(self):
        print("I can write well")

    def work(self):
        print("I can debug well")


# Child classes

# If both the parent classes have the same methods with same name, then the interpreter consider methods based on the order of arguments we mention in the child class.
class Boy(Father, Mother):
    pass

boy_1 = Boy()  # Creating an object
boy_1.read()
boy_1.write()
boy_1.work()  # Since we mention the Father class first in the child class, we are seeing the statement from work method written in Father class.

I can read well
I can write well
I can code well

In [18]:
## But if we want to access the method from a particular class, then do this

class Father:
    def read(self):
        print("I can read well")

    def work(self):
        print("I can code well")

class Mother:
    def write(self):
        print("I can write well")

    def work(self):
        print("I can debug well")

class Boy(Father,Mother):
    def sleep(self):
        print("I can sleep well")

    def work(self):
        print("I can test the code")

boy_1 = Boy()

boy_1.read()

boy_1.sleep()

boy_1.work() 
''' If all the classes have the same method, then the order of accessing the methods will be like, the intrepreter will check itself, if 
it doesn't find then it will go in the order that we have mentioned in the brackets of child class '''
# In brackets, you need to mention on which object you want to call this method 


Mother.work(boy_1)   # use this syntax to access the method from a particular class

I can read well
I can sleep well
I can test the code
I can debug well

In [46]:
class Father:
    def read(self):
        print("I can read well")

   # def work(self):
   #     print("I can code well")

class Mother:
    def write(self):
        print("I can write well")

    def work(self):
        print("I can debug well")

class Boy(Father,Mother):
    def sleep(self):
        print("I can sleep well")

   # def work(self):
    #    print("I can test the code")

boy_1 = Boy()

boy_1.read()

boy_1.sleep()

boy_1.work()

I can read well
I can sleep well
I can debug well

In [17]:
class Father:
    def __init__(self):
        print("Init method called from Father class")
        self.num_eyes = 2
        self.num_nose = 1
        
    def read(self):
        print("I can read well")

    def work(self):
        print("I can code well")

class Mother:
    def __init__(self,name):
        print("Init method called from Mother class")
        self.name = name
        
    def write(self):
        print("I can write well")

    def work(self):
        print("I can debug well")

class Boy(Father,Mother):
    def __init__(self,name):
        Mother.__init__(self,name)  # written this to access the name attribute to take only from the Mother class.
        #super().__init__()   # written this to access the attributes from the available classes
        Father.__init__(self)   # we can use this too, to get the num_nose attribute from the Father class explicitly 
    def sleep(self):
        print("I can sleep well")

    def work(self):
        print("I can test the code")

boy_1 = Boy("Arun")
'''
Same as methods, for arguments also if we do not mention that we need the attributes from particular class only, then it will take the order
that we have mentioned in the arguments of child class. So to tell the child class to take attributes only from particular parent class then 
do as shown in the Boy class init method.
'''

print(f"No.of nose = {boy_1.num_nose}") # to print this, we call init method of Father class

print(f"Name of the boy = {boy_1.name}") # to print this, we call init method of Mother class (we did this explicitly.)

Init method called from Mother class
Init method called from Father class
No.of nose = 1
Name of the boy = Arun

In [29]:
class Father:
    def __init__(self,num_heart):
        print("Init method called from Father class")
        self.num_eyes = 2  # these 2 arguments are created and assigned here itself
        self.num_nose = 1

        self.num_heart = num_heart   # Father class's own varible, value taken from object boy_1 while creating
        
    def read(self):
        print("I can read well")

    def work(self):
        print("I can code well")

class Mother:
    def __init__(self,name):
        print("Init method called from Mother class")
        self.name = name
        
    def write(self):
        print("I can write well")

    def work(self):
        print("I can debug well")

class Boy(Father,Mother):
    def __init__(self,name,num_heart,language):
        Mother.__init__(self,name)  # written this to access the name attribute to take only from the Mother class.
        
        #super().__init__()   # written this to access the attributes from the available classes
        
        Father.__init__(self,num_heart)   # we can use this too, to get the num_nose attribute from the Father class explicitly 
        
        self.language = language  # This child class can have its own attributes.
        
    def sleep(self):
        print("I can sleep well")

    def work(self):
        print("I can test the code")

    def display(self):
        print(f"I am from display method in Boy class, my name is {self.name} and I have {self.num_heart} heart, {self.num_eyes} eyes and I do {self.language} programming")

boy_1 = Boy("Arun",1,"Python")
'''
Same as methods, for arguments also if we do not mention that we need the attributes from particular class only, then it will take the order
that we have mentioned in the arguments of child class. So to tell the child class to take attributes only from particular parent class then 
do as shown in the Boy class init method.
'''

print(f"No.of nose = {boy_1.num_nose}") # to print this, we call init method of Father class

print(f"Name of the boy = {boy_1.name}") # to print this, we call init method of Mother class (we did this explicitly.)

print(f"Language = {boy_1.language}")

print(f"Num of hearts = {boy_1.num_heart}")  # this is the way to access attributes

boy_1.display()   # this is the way to access methods

Init method called from Mother class
Init method called from Father class
No.of nose = 1
Name of the boy = Arun
Language = Python
Num of hearts = 1
I am from display method in Boy class, my name is Arun and I have 1 heart, 2 eyes and I do Python programming