In [37]:
print ("Hello world")

#print statement automatically appends a new line, so explicitly no need to give a new line character in python.
# If you are using ubuntu to program the python programs, then we need to use $python3 file_name.py to compile the file and see the output.

Hello world

In [38]:
x = 100
print(x)

100

In [39]:
y = 10
print(x+y)

110

In [40]:
# type of a variable

x = 20
print(type(x))

y = 2.3
print(type(y))

z = "Hello"
print(type(z))

w = 'hello'
print(type(w))

q = 1E10
print(type(q))

p = 'a'
print(type(p))

# In python, everything is considered as an object, so only we are seeing class for every type. 
# Eg: x is a class of integer 
# ...

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>

In [41]:
print("Hallo leute ")

print("Hallo Leute, ", end = "  ")
print("Wie gehts dir?")

print("Mir", "Gehts", "es", "gut", sep = "-")

# In python, by default the print statement will go to next line, to avoud it, we can use end = " " to keep the control to stay in the same line.

Hallo leute
Hallo Leute,   Wie gehts dir?
Mir-Gehts-es-gut

In [42]:
m = int(input("Ore number mattum enter pannu, please: "))
n = int(input("Seri, innoru number enter pannu, avlodha: "))

print()
print("OK pa, unakaaga naa rendium add panre: ")

print(f"Addition {m} + {n}  = ",m+n)
print("Ok sure, sir like that only I have added")

Ore number mattum enter pannu, please:  5
Seri, innoru number enter pannu, avlodha:  6

OK pa, unakaaga naa rendium add panre:
Addition 5 + 6  =  11
Ok sure, sir like that only I have added

#### name = input("Un peru sollu pa: ")
print(f"Un peru:{name} ")

age = input("vayasu: ")
print(f"Vayasu: {age}")

print("Sorry, eppo purandha: ")
date = input()
print(f"Date = {date}")

In [44]:
x = 10
y = 20
z = 30
print(x,y,z)

10 20 30

In [45]:
print("Hello " + "World ")

Hello World

In [46]:
name = "Arun Kumar"
print("Hello " + name)

Hello Arun Kumar

### Follow the same logic that we have used in C programming to print patterns.

In [47]:

n = int(input("Enter a number: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("* ", end = " ")
    print()

Enter a number:  5

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [48]:
n = int(input("Enter the value of n: "))
for i in range(1,n+1):
    for j in range(i,n+1):
        print("* ", end = " ")
    print()

Enter the value of n:  7

*  *  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [49]:
n = int(input("Enter the value of n: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("* ", end = " ")
    for j in range(i,n):
        print("  ", end = " ")
    for j in range(i,n):
        print("  ", end = " ")
    for j in range(1,i+1):
        print("* ", end = " ")
    print()

Enter the value of n:  5

*                          *
*  *                    *  *
*  *  *              *  *  *
*  *  *  *        *  *  *  *
*  *  *  *  *  *  *  *  *  *

In [50]:
print("Hello ", "World", sep = "\n")

print("Hello ", "World", sep = "--")

print("Hello ", "World", sep = "++")

print("Hello ", "World", sep = "\\\\\\\\")

Hello
World
Hello --World
Hello ++World
Hello \\\\World

In [51]:
name = "Arun Kumar"
age = 22

print(f"My name is {name} and I am {age} years old")

My name is Arun Kumar and I am 22 years old

In [52]:
x = 10
y = 20

z = x + y

print("{} + {} = {}".format(x,y,x+y))
print()
print("%d + %d = %d"%(x,y,x+y))

10 + 20 = 30

10 + 20 = 30

In [53]:
m = int(input("Enter a number 1 : "))
n = int(input("Enter a number 2 : "))

print(f"Numbers before swapping: {m} , {n}")

m,n = n,m

print(f"Numbers after swapping: {m}, {n}")

Enter a number 1 :  5
Enter a number 2 :  6

Numbers before swapping: 5 , 6
Numbers after swapping: 6, 5

In [54]:
# Get the address of the variable

x = 10
print(f"Address of {x} is {id(x)}")

# id(), this function will give the address of the variable mentioned in that function.

Address of 10 is 140732691084360

# Data Structures
## Mutable (can change)
### 1. List
### 2. Dictionary

## Immutable (Cannot change)
### 1. String
### 2. Tuple

In [55]:
print("hi")

hi

In [56]:
# In python we can do multiple variable initialization.
x,y,z = 1,2,3

print(x,y,z)

1 2 3

In [57]:
# When we have more values on the right side and less variables on the left side to hold, it will throw an error

a,b = 1,2,3

ValueError: too many values to unpack (expected 2)

In [58]:
# To avoid the above scenario, we have to use underscore ("_").
# This underscore will act as a placeholder

a,b,_ = 1,2,3
print(a,b,_)

1 2 3

In [59]:
# To see the list of keywords

import keyword
print("List of keywords are : ",keyword.kwlist)

List of keywords are :  ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [60]:
a=b=c=100
print(a,b,c)

100 100 100

## Datatypes

## Integers

In [61]:


x = 10
print(type(x))

# In python, there is no concept of double. Irrespective of precession, it is considered as a float.
y = 10.5
print(type(y))

z = complex(3,5)
print(z)
print(type(z))

# Here we don't say signed and unsigned

<class 'int'>
<class 'float'>
(3+5j)
<class 'complex'>

## Strings

In [121]:


# Here we donot have the concept of char. Everything is considered as a string.

a = 'Arun'
b = "Arun"
c = '''Arun'''

# All the above are considered as strings

print(type(a), type(b), type(c), sep = "\n")

<class 'str'>
<class 'str'>
<class 'str'>

## Lists

In [122]:


# List is a collection of data and this should be enclosed in square brackets. []
# This list can hold data of different datatypes unlike array in C.

l1 = [1,2,3,4]
print(l1)

l2 = [1,2,"Hello", 12.44,2+3j]
print(l2)

# If we use id(<list_variable>) will give the base address of the list.
print(id(l2))

print(l1[0])

[1, 2, 3, 4]
[1, 2, 'Hello', 12.44, (2+3j)]
2026184318528
1

In [126]:
l1 = [1,2,3,4,5,6,7,8,9]
print(l1[1:])

[2, 3, 4, 5, 6, 7, 8, 9]

In [127]:
l1[0] = 0 # changeble
l1

[0, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
print(l1[-1])

9

In [66]:
print(l1[4:15])

[5, 6, 7, 8, 9]

In [67]:
print(l1[-2:]) # it is printing from -2 till the end.

[8, 9]

In [68]:
print(l1[-5:-1]) # The control always move from left to right so we are getting 5,6,7,8 for this input.
'''
If we try giving -1:-5 then this is not possible, it seems like we are telling the control to move from right (from -1)to left (to -5), 
this is not allowed.

'''

[5, 6, 7, 8]

'\nIf we try giving -1:-5 then this is not possible, it seems like we are telling the control to move from right (from -1)to left (to -5), \nthis is not allowed.\n\n'

In [109]:
p1 = [1,2,3,4,5]
p2 = ["Arun",9.3,"Kumar", 23]
p3 = [p1,p2]
p3

[[1, 2, 3, 4, 5], ['Arun', 9.3, 'Kumar', 23]]

In [70]:
p3[0]

[1, 2, 3, 4, 5]

In [71]:
p3[0][4]

5

In [72]:
p3[1][2]

'Kumar'

In [106]:
# Every time when we use these functions, we need to provide the data not the index. 
# Only for the insert, we do give the index to tell the control to insert that data 
# in that particular location only.

p1.append(15)
p1

[1, 2, 3, 4, 5, 15, 15]

In [74]:
p2

['Arun', 9.3, 'Kumar', 23]

In [75]:
p2.insert(2,"Hello")
p2

['Arun', 9.3, 'Hello', 'Kumar', 23]

In [104]:
p2.insert(0,"Arun")
p2

['Arun', 9.3, 'Hello', 'Kumar', 23]

In [105]:
# If you want to remove anything using data, use remove function
p2.remove("Arun")
p2

[9.3, 'Hello', 'Kumar', 23]

In [110]:
# To remove something using the index, then use pop function.

p2.pop(2)
p2

# when you don't mention the index in pop function, it will remove the last element.
p2.pop()

23

In [111]:
h1 = [1,2,3,"Hello","People","Arun",6.43]
h1

[1, 2, 3, 'Hello', 'People', 'Arun', 6.43]

In [112]:
# to delete the elements, we have to specify the range
del h1[4:6] # in python, we always don't consider the upper bound.
h1

[1, 2, 3, 'Hello', 6.43]

In [113]:
'''
If you want to add a single element, we use append and it adds that element at the end
if you use insert, we can insert at a particular location only, but we can add only one element
if we want to add multiple elements, then use extend function as shown below.
'''

h1.extend(["Hyd","Banglore",234,324.345])

In [114]:
h1

[1, 2, 3, 'Hello', 6.43, 'Hyd', 'Banglore', 234, 324.345]

In [119]:
# few mathematic shortcuts
d1 = [9,3,4,2,4,6,7,75,4]
print(max(d1))
print(min(d1))
print(sum(d1))
d1.sort()
d1

75
2
114

[2, 3, 4, 4, 4, 6, 7, 9, 75]

## Tuple

In [76]:
# This tuple is almost all same like list, but it is not changeble once we make a tuple.
# This should be represented in round brackets()
# We cannot change the values in the tuple.

# we have to use this tuple, when we have a list and we don't want to change the elements in that
# list, then we can go for the tuple, as the rest of the features are same as list.

# Iterations in the tuple are faster compared to list as it does not allow us to modify.
t1 = (1,2,3,4)
t1

(1, 2, 3, 4)

In [77]:
t1[0] = 6 # not changeble
t1

TypeError: 'tuple' object does not support item assignment

In [78]:
t1[2] # we can access the tuple, but cannot change it.

3

In [124]:
t2 = (1,2.5, "Arun", 2+7j)
t2

(1, 2.5, 'Arun', (2+7j))

In [130]:
tup = (1,2,3,"Arun",4.435,4435)
tup

(1, 2, 3, 'Arun', 4.435, 4435)

In [136]:
tup.index("Arun") # Just gives the index

3

In [135]:
tup.count(3) # it will give the count of the element present in that tuple.

1

## Set

In [137]:
# Set is a collection of unique elements. It does not allow duplicates.
# It is represented using flower brackets {}
# Set never follows a sequence.
# Indexing is not allowed as it doesn't follows a sequence.
# we can add and remove the elements in the set.

s = {1,2,2,3,4,5,6,4,5,5,7,8,7}
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [138]:
s[2]

TypeError: 'set' object is not subscriptable

In [139]:
# Program to perform different set operations 
# as we do in mathematics 

# sets are define 
A = {0, 2, 4, 6, 8}; 
B = {1, 2, 3, 4, 5}; 

# union 
print("Union :", A | B) 

# intersection 
print("Intersection :", A & B) 

# difference 
print("Difference :", A - B) 

# symmetric difference : It excludes the common elements and print rest of the elements.
# A ^ B = (A u B) - (A n B)
print("Symmetric difference :", A ^ B)

Union : {0, 1, 2, 3, 4, 5, 6, 8}
Intersection : {2, 4}
Difference : {0, 8, 6}
Symmetric difference : {0, 1, 3, 5, 6, 8}

In [31]:
# set of letters
s = {'g', 'e', 'k', 's'}

# adding 's'
s.add('f')
print('Set after adding:', s)

# Discarding element from the set
# The discard method is lenient and quietly ignores the operation if the element does not exist.
s.discard('g')
print('\nSet after discarding:', s)

# Removing element from the set
# The remove method is strict and expects the element to exist in the set; otherwise, it raises an error.
s.remove('e')
print('\nSet after removing:', s)

# Popping elements from the set
# pop method removes the random element in the set.
print('\nPopped element', s.pop())
print('Set after popping the element:', s)

s.clear()
print('\nSet after clearing:', s)

Set after adding: {'f', 's', 'k', 'e', 'g'}

Set after discarding: {'f', 's', 'k', 'e'}

Set after removing: {'f', 's', 'k'}

Popped element f
Set after popping the element: {'s', 'k'}

Set after clearing: set()

In [29]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical) # this menthod just concatenate the two sets.

print(thisset)

{'mango', 'apple', 'pineapple', 'cherry', 'banana', 'papaya'}

In [30]:
# The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'kiwi', 'orange', 'banana', 'cherry'}

In [32]:
set1 = {1,2,3,4,"arun","kumar",5.54,4535.556}
set2 = {3,5,6,6,"Hello","People",34.34}

set3 = set1.union(set2)
set3

{1, 2, 3, 34.34, 4, 4535.556, 5, 5.54, 6, 'Hello', 'People', 'arun', 'kumar'}

In [34]:
set1 = {1,2,3,5,6,4,"arun","kumar",5.54,4535.556}
set2 = {3,5,6,6,"Hello","People",34.34}

set3 = set1.intersection(set2)
set3

{3, 5, 6}

In [35]:
set1 = {1,2,3,5,6,4,"arun","kumar",5.54,4535.556}
set2 = {3,5,6,6,"Hello","People",34.34}

set3 = set1.difference(set2)
set3

{1, 2, 4, 4535.556, 5.54, 'arun', 'kumar'}

In [36]:
# The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the 
# original set instead of returning a new set.

set1 = {1,2,3,5,6,4,"arun","kumar",5.54,4535.556}
set2 = {3,5,6,6,"Hello","People",34.34}

set1.difference_update(set2)
set3

{1, 2, 4, 4535.556, 5.54, 'arun', 'kumar'}

## Dictionaries

In [80]:
# Here we represent the data in key and value format in flower brackets. {}

d1 = {1:"one", 2:"Two", 3:"Three"}
print(d1)
print(d1[1])
print(d1[3])

{1: 'one', 2: 'Two', 3: 'Three'}
one
Three

In [1]:
# If there are duplicates in the dictionary then, only the latest values are considered

d2 = {1: "one", 2: "two", 1:"three"}
d2
# The dictionary keys haves to be unique, they do not allow duplicates.
# We can have same values for different keys, but cannot have same keys for different values

{1: 'three', 2: 'two'}

In [5]:
dict1 = {1:"one",2:"two",3:"three","name":"arun",}

In [6]:
dict1[1]

'one'

In [8]:
dict1.get(1)

'one'

In [9]:
# When we specify a key, if there is a value then it will print a value for that key
# if there is no value for a key, then we can customize what to get as an output.

dict1.get(4,"No data found")

'No data found'

In [11]:
dict1.get(5) # if we do not specify anything, it will remain idle

In [13]:
dict1.get(3,"No data found") # as we have data, we are not getting that backup data.

'three'

In [21]:
'''
There is a possibility to create a dectionary with the help of two lists
To do that we need to zip them and then by using the dict() function we can convert it into a
dictionary as shown below

'''

keys = [1,2,3,4,5,6,7]
values = ["Sun","Mon","Tue","Wed","Thurs","Fri","Sat"]

# we have weekdays and the associated intergers which signifies that day number.

data = dict(zip(keys,values))

data

{1: 'Sun', 2: 'Mon', 3: 'Tue', 4: 'Wed', 5: 'Thurs', 6: 'Fri', 7: 'Sat'}

In [22]:
# we can directly add the data like this if it doesn't exist.
# But we need to be careful about the key values. They should not be same.

data["01"] = "Jan"
data

{1: 'Sun',
 2: 'Mon',
 3: 'Tue',
 4: 'Wed',
 5: 'Thurs',
 6: 'Fri',
 7: 'Sat',
 '01': 'Jan'}

In [23]:
# to delete, just mention the key.

del data[1]
data

{2: 'Mon', 3: 'Tue', 4: 'Wed', 5: 'Thurs', 6: 'Fri', 7: 'Sat', '01': 'Jan'}

In [25]:
'''
We can have a list in a dictionary and a dictionary in a dictionary. It is absolutely fine.
'''
# this dictionary just tells, which ide can be used for which languae.
prog = {'JS':'Atom','CS':'VScode','Python':['Pycharm','sublime'],'Java':{'JSE':'Netbeans','JEE':'Eclipse'}}
prog

{'JS': 'Atom',
 'CS': 'VScode',
 'Python': ['Pycharm', 'sublime'],
 'Java': {'JSE': 'Netbeans', 'JEE': 'Eclipse'}}

In [34]:
# These are the ways where we can access this dictionary.

prog["JS"]

'Atom'

In [29]:
prog['CS']

'VScode'

In [30]:
prog['Python']

['Pycharm', 'sublime']

In [31]:
prog['Python'][1]

'sublime'

In [32]:
prog['Java']

{'JSE': 'Netbeans', 'JEE': 'Eclipse'}

In [33]:
prog['Java']['JEE']

'Eclipse'

# Operators

## Arithmetic operators +,-,/,*,//,**

In [82]:
n = int(input("Enter a number: "))
m = int(input("Enter a number: "))

print(f"Addition: {n} + {m} = {n+m}")
print(f"Subtraction: {n} - {m} = {n-m}")
print(f"Multiplication: {n} * {m} = {n*m}")
print(f"Division: {n} / {m} = {n/m}")
print(f"Power: {n} ** {m} = {n**m}")
print(f"Floor division: {n} // {m} = {n//m}")

Enter a number:  4
Enter a number:  5

Addition: 4 + 5 = 9
Subtraction: 4 - 5 = -1
Multiplication: 4 * 5 = 20
Division: 4 / 5 = 0.8
Power: 4 ** 5 = 1024
Floor division: 4 // 5 = 0

In [83]:
s1 = "Arun "
s2 = "Kumar."

s3 = s1+s2
print(s3)

Arun Kumar.

In [84]:
l1 = [2,3,4,5]
l2 = [3,5,4,8,9]

print(l1+l2)
# This will not add the two lists, it just appends the lists

[2, 3, 4, 5, 3, 5, 4, 8, 9]

In [85]:
t1 = (1,2,3,4,5)
t2 = ("Hello","Hyd","People")

print(t1+t2)

(1, 2, 3, 4, 5, 'Hello', 'Hyd', 'People')

In [86]:
p = 5j
q = 2.3

p+q

(2.3+5j)

In [87]:
## We cannot subtract two lists, tuples, strings

In [88]:
l1*2
# This list multiplication will append the same list in the list with mentioned number of times.

[2, 3, 4, 5, 2, 3, 4, 5]

In [89]:
t1*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [90]:
# The result of 22/7 in python 2 is same as 22//7 in python3

## Relational Operators: >,<,>=,<=,!=,==

In [91]:


print(2>5)
print(2<5)
print(2>=5)
print(2<=5)
print(2!=5)
print(2==5)

False
True
False
True
True
False

## Logical Operators: and, or

In [92]:


print(12> 5 and 12< 5)
print(12>5 or 12<5) # same like c programming, it is not checking the other condition, compile time optimization.

# non zero value will be considered as true and zero is considered as false.

print(not 12)
print(not 0)
print(not -12)

False
True
False
True
False

## Bitwise operators: &,|,^,

In [93]:


# 12  = 1100
# 3   = 0011

print(12&3) # 0000
print(12|3) # 1111
print(12^3) # 1111
print(~12)               
print(~-13)

print(12>>1) # right shift will divide the number
print(12<<1) # left shift will multiply the number
'''
    ~x = -(x+1)
    eg: ~12 = -(12+1) = -13
'''

0
15
15
-13
12
6
24

'\n    ~x = -(x+1)\n    eg: ~12 = -(12+1) = -13\n'

## Equality Operator: +=, -=, *=, /=

In [94]:
x = 10
x+=5
print(f"x = {x}")

p = 20
p-=10
print(f"p = {p}")

z = 30
z*=3
print(f"z = {z}")

q = 15
q/=5
print(f"q = {q}")

x = 15
p = 10
z = 90
q = 3.0

## Identity operators : is and is not

In [95]:
10 is 10

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\bala_arun_kumar\AppData\Local\Temp\ipykernel_13308\2811400926.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  10 is 10

True

In [96]:
"Arun" is "Arun"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\bala_arun_kumar\AppData\Local\Temp\ipykernel_13308\2425154922.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "Arun" is "Arun"

True

In [97]:
"Arun" is "kumar"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\bala_arun_kumar\AppData\Local\Temp\ipykernel_13308\3084269383.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "Arun" is "kumar"

False

In [98]:
"Arun" is not "Kumar"

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\bala_arun_kumar\AppData\Local\Temp\ipykernel_13308\2388115820.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  "Arun" is not "Kumar"

True

In [99]:
# sizeof() operator does not exist as we are dealing with objects not with variables
# We also not have increment and decrement operators
# Does not have conditional operators

# Here x++ is not possible, but we can do x+=1

## Membership operator: in, not in

In [100]:
l = [1,2,3,4,5]
20 in l

False

In [101]:
20 not in l

True